﻿@model FTCWebApp.ViewModels.ApplicationManagerVM
@{
    ViewBag.Title = "AddEditCodeTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $('#Menu_AppMngr').addClass('current');
        $('#cancelCodeTable').click(function () {
            $('#Form').attr('action', $("#URLCancel").val()).submit();
        });
    });
</script>

<div class="col-xs-12 colsm-12 col-md-12 col-xl-12" style="padding-top:10px;">
    @using (Html.BeginForm("Submit", "ApplicationManager", FormMethod.Post, new { id = "Form" }))
    {
        <span>
            @Html.HiddenFor(model => model.ActionType)
            @Html.HiddenFor(model => model.TableName)
            @Html.HiddenFor(model => model.Declines)
            @Html.HiddenFor(model => model.codeTableRecord.CodeID)
            @Html.Hidden("URLCancel", Url.Action("Cancel", "ApplicationManager"))
        </span>
        <div class="col-xs-12 colsm-12 col-md-12 col-xl-12" style="padding:0.5%;">
            <div class="col-xs-12 colsm-12 col-md-6 col-xl-6">
                <div class="col-xs-6 colsm-6 col-md-2 col-xl-2">
                    <div class="row">
                        <span>@Html.Label("Table Name")</span>
                    </div>
                </div>
                <div class="col-xs-6 colsm-6 col-md-4 col-xl-4">
                    <div class="row">
                        <span style="color:orange">@Html.DisplayFor(model => model.codeTableRecord.CodeTableName)</span>
                    </div>
                </div>
                @if (Model.ActionType == "Edit Data")
                {
                    <div class="col-xs-6 colsm-6 col-md-5 col-xl-5">
                        <div class="row">
                            <span>@Html.Label(Model.codeTableRecord.CodeTableName + "_Code_ID")</span>
                        </div>
                    </div>
                    <div class="col-xs-6 colsm-6 col-md-1 col-xl-1">
                        <div class="row">
                            <span style="color:orange">@Html.DisplayFor(model => model.codeTableRecord.CodeID)</span>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-xs-12 colsm-12 col-md-4 col-xl-4">
            <div class="editor-label">
                <div class="col-xs-12 colsm-12 col-md-12 col-xl-9">
                    <span style="color:red;padding:2%;visibility:hidden" id="Active_reqIndicator">*</span>
                    @Html.Label("Active")
                </div>
            </div>
            <div class="editor-label">
                @Html.DropDownListFor(model =>
           model.codeTableRecord.Active,
           new SelectList(Model.ActiveValues, "Value", "Text"),
           "Select Active",
           new { @class = "form-control" }
           )
                @Html.ValidationMessageFor(model => model.codeTableRecord.Active)
            </div>
        </div>
        <div class="col-xs-12 colsm-12 col-md-4 col-xl-4">
            <div class="editor-label">
                <div class="col-xs-12 colsm-12 col-md-12 col-xl-9">
                    <span style="color:red;padding:2%;visibility:hidden" id="Description_reqIndicator">*</span>
                    @if (Model.TableName == "Country")
                    {
                        @Html.Label("Country Name")
                    }
                    else if (Model.TableName == "Location")
                    {
                        @Html.Label("Sponsorship Location")

                    }
                    else if (Model.TableName == "Region")
                    {
                        @Html.Label("Region Name")
                    }

                    else if (Model.TableName == "Decline_Reason")
                    {

                        if (Model.ActionType == "Add New Code")
                        {
                            @Html.Label("Description")
                        }
                        else if (Model.ActionType == "Edit Data")
                        {
                            @Html.Label("Decline Reason")
                        }

                    }
                    else
                    {
                        @Html.Label("Description")
                    }
                </div>
            </div>
            <div class="editor-field enrollform">
                @if (Model.TableName == "Location")
                {

                    @*<select id='codeTableRecord_Description' name='codeTableRecord.Description' class="form-control">
                        <option value="">Select Sponsorship Site</option>
                        <option value='1'>True</option>
                        <option value='0'>False</option>
                    </select>*@


                    var IsSponsorshipSiteOptions = new SelectList(
                                         new List<SelectListItem>
                                         {
                                                new SelectListItem { Selected = true, Text = "Select Sponsorship Site", Value = ""},
                                                new SelectListItem { Selected = false, Text = "True", Value = "True"},
                                                new SelectListItem { Selected = false, Text = "False", Value = "False"},
                                 }, "Value", "Text", "");

                    @Html.DropDownListFor(model => model.codeTableRecord.SponsorshipSite, IsSponsorshipSiteOptions, null, new { @class = "form-control" })


                }
                else if (
                    Model.TableName == "Decline_Reason" &&
                    Model.ActionType == "Edit Data"
                    )
                {
                    @*if (Model.ActionType == "Add New Code")
            {
                @Html.Label("Description")
            }*@
                    @Html.Label(@Model.codeTableRecord.Description,
                   new { style = "Width:750px; font-weight: normal; padding-top:10px;" }
                   )

                    @Html.ValidationMessageFor(model => model.codeTableRecord.Description)
                }
                else
                {
                    @Html.TextBoxFor(model =>
               model.codeTableRecord.Description,
               new { style = "Width:750px;", @class = "form-control" }
               )
                    @Html.ValidationMessageFor(model => model.codeTableRecord.Description)
                }

            </div>
        </div>
        <div class="col-xs-12 colsm-12 col-md-4 col-xl-4">
            @if (Model.TableName == "Location")
            {
                <div class="editor-label">
                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-9">
                        <span style="color:red;padding:2%;visibility:hidden" id="ColumnWithSameName_reqIndicator">*</span>
                        @Html.Label("Location Name")
                    </div>
                </div>

                <div class="editor-field enrollform">
                    @if (Model.ActionType == "Edit Data")
                    {
                        @Html.TextBoxFor(model =>
                   model.codeTableRecord.ColumnWithSameName,
                   new { style = "Width:750px;", @class = "form-control" }
                   )
                    }
                    else
                    {
                        @Html.TextBoxFor(model =>
                   model.codeTableRecord.ColumnWithSameName,
                   new { style = "Width:750px;", @class = "form-control" }
                   )
                    }
                    @Html.ValidationMessageFor(model => model.codeTableRecord.ColumnWithSameName)
                </div>
            }
            else
            {
                <div class="editor-label">
                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-9">
                        <span style="color:red;padding:2%;visibility:hidden" id="PublicDescription_reqIndicator">*</span>
                        @if (
                                Model.TableName == "Country" ||
                                Model.TableName == "Region"
                                )
                        {
                            @Html.Label("Default Language")
                        }
                        else if (Model.TableName != "Decline_Reason")
                        {
                            @Html.Label("Public Description")
                        }
                        else if (Model.TableName == "Decline_Reason")
                        {

                            if (Model.ActionType == "Add New Code")
                            {
                                @Html.Label("Decline Reason")
                            }
                            else if (Model.ActionType == "Edit Data")
                            {
                                @Html.Label("Description")
                            }
                        }
                    </div>
                </div>
                <div class="editor-field enrollform">
                    @if (Model.TableName != "Decline_Reason")
                    {
                        @Html.TextBoxFor(model => model.codeTableRecord.PublicDescription, new { style = "Width:750px;", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.codeTableRecord.PublicDescription)
                    }

                    @if (Model.TableName == "Decline_Reason")
                    {
                        if (Model.ActionType == "Add New Code")
                        {
                            List<SelectListItem> l_DeclineReasons =
                                FTCWebApp
                                .ViewModels
                                .ChildRecordsVM
                                .DeclineReasons_Given_User_ID
                                (
                                    Model.currentUser.ID.ToString()
                                    );


                            @Html.DropDownListFor(m => m.codeTableRecord.ParentCodeID,
                           l_DeclineReasons,
                           "Select one",
                           new { style = "Width:750px;", @class = "form-control" }
                           )

                        }

                        else if (Model.ActionType == "Edit Data")
                        {
                            @Html.TextBoxFor(model =>
                       model.codeTableRecord.PublicDescription,
                       new { style = "Width:750px;", @class = "form-control" }
                       )

                        }

                        @Html.ValidationMessageFor(model => model.codeTableRecord.ParentCodeID)

                    }

                </div>
            }
        </div>
        if (
            Model.TableName == "Chore" ||
            Model.TableName == "Favorite_Activity" ||
            Model.TableName == "Favorite_Learning" ||
            Model.TableName == "Grade_Level" ||
            Model.TableName == "Country"
            )
        {
            <div class="col-xs-12 colsm-12 col-md-4 col-xl-4">
                <div class="editor-label">
                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-9">
                        <span style="color:red;padding:2%;visibility:hidden" id="MinAge_reqIndicator">*</span>
                        @if (Model.TableName == "Country")
                        {
                            @Html.Label("Minimum School Age")
                        }
                        else
                        {
                            @Html.Label("Minimum Age")
                        }
                    </div>
                </div>
                <div class="editor-field enrollform">
                    @Html.TextBoxFor(model => model.codeTableRecord.MinAge, new { style = "Width:750px;", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.codeTableRecord.MinAge)
                </div>
            </div>
        }
        if (Model.TableName == "Content_Type")
        {
            <div class="col-xs-12 colsm-12 col-md-4 col-xl-4">
                <div class="editor-label">
                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-9">
                        <span style="color:red;padding:2%;visibility:hidden" id="Required_reqIndicator">*</span>
                        @Html.Label("Required")
                    </div>
                </div>
                <div class="editor-field enrollform">
                    @Html.TextBoxFor(model => model.codeTableRecord.Required, new { style = "Width:750px;", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.codeTableRecord.Required)
                </div>
            </div>
        }
        if (Model.TableName == "Country")
        {
            <div class="col-xs-12 colsm-12 col-md-4 col-xl-4">
                <div class="editor-label">
                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-9">
                        <span style="color:red;padding:2%;visibility:hidden" id="CountryCode_reqIndicator">*</span>
                        @Html.Label("Country Code")
                    </div>
                </div>
                <div class="editor-field enrollform">
                    @Html.TextBoxFor(model => model.codeTableRecord.ColumnWithSameName, new { style = "Width:750px;", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.codeTableRecord.ColumnWithSameName)
                </div>
            </div>
            <div class="col-xs-12 colsm-12 col-md-4 col-xl-4">
                <div class="editor-label">
                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-9">
                        <span style="color:red;padding:2%;visibility:hidden" id="RegionCodeID_reqIndicator">*</span>
                        @Html.Label("Region Code ID")
                    </div>
                </div>
                <div class="editor-field enrollform">
                    @Html.TextBoxFor(model => model.codeTableRecord.ParentCodeID, new { style = "Width:750px;", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.codeTableRecord.ParentCodeID)
                </div>
            </div>
        }
        if (Model.TableName == "Location")
        {
            <div class="col-xs-12 colsm-12 col-md-4 col-xl-4">
                <div class="editor-label">
                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-9">
                        <span style="color:red;padding:2%;visibility:hidden" id="CountryCodeID_reqIndicator">*</span>
                        @Html.Label("Country Name")
                    </div>
                </div>
                <div class="editor-field enrollform">
                    @if (Model.ActionType == "View Data")
                    {
                        @Html.TextBoxFor(model =>
                   model.codeTableRecord.ParentCodeID,
                   new { style = "Width:750px;", @readonly = "readonly", @class = "form-control" }
                   )
                    }
                    else
                    {

                        List<SelectListItem> l_countries =
                            FTCWebApp
                            .ViewModels
                            .ChildRecordsVM
                            .Countries_Given_User_ID
                            (
                                Model.currentUser.ID.ToString()
                                );

                        @Html.DropDownListFor(m => m.codeTableRecord.ParentCountryCodeID,
                       l_countries,
                       "Select one",
                       new { style = "Width:750px;", @class = "form-control" }
                       )

                    }
                    @Html.ValidationMessageFor(model => model.codeTableRecord.ParentCodeID)
                </div>
            </div>
            <div class="col-xs-12 colsm-12 col-md-4 col-xl-4">
                <div class="editor-label">
                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-9">
                        <span style="color:red;padding:2%;visibility:hidden" id="DefaultLanguage_reqIndicator">*</span>
                        @Html.Label("Default Language Code ID")
                    </div>
                </div>
                <div class="editor-field enrollform">
                    @if (Model.ActionType == "View Data")
                    {
                        @Html.TextBoxFor(model =>
                   model.codeTableRecord.MinAge,
                   new { style = "Width:750px;", @readonly = "readonly", @class = "form-control" }
                   )
                    }
                    else
                    {
                        @Html.TextBoxFor(model =>
                   model.codeTableRecord.MinAge,
                   new { style = "Width:750px;", @class = "form-control" }
                   )
                    }
                    @Html.ValidationMessageFor(model => model.codeTableRecord.MinAge)
                </div>
            </div>

            <div class="col-xs-12 colsm-12 col-md-4 col-xl-4">
                <div class="editor-label">
                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-9">
                        <span style="color:red;padding:2%;visibility:hidden" id="MinAge_reqIndicator">*</span>
                        @Html.Label("Location Code ID")
                    </div>
                </div>
                <div class="editor-field enrollform">
                    @Html.TextBoxFor(model =>
               model.codeTableRecord.CodeID,
               new { style = "Width:750px;", @class = "form-control" }
               )
                    @Html.ValidationMessageFor(model => model.codeTableRecord.PublicDescription)
                </div>
            </div>
        }
        if (Model.TableName == "Region")
        {
            <div class="col-xs-12 colsm-12 col-md-4 col-xl-4">
                <div class="editor-label">
                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-9">
                        <span style="color:red;padding:2%;visibility:hidden" id="RegionCodeID_reqIndicator">*</span>
                        @Html.Label("Region Code")
                    </div>
                </div>
                <div class="editor-field enrollform">
                    @Html.TextBoxFor(model => model.codeTableRecord.ColumnWithSameName, new { style = "Width:750px;", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.codeTableRecord.ColumnWithSameName)
                </div>
            </div>
        }
        <div class="col-xs-12 colsm-12 col-md-12 col-xl-12" style="padding:0.5%;">
            <div class="col-xs-12 colsm-12 col-md-6 col-xl-6">
                <input type="submit" value="Submit " id="submitCodeTable" style="width:40%; background-color:orange; float:right" class="form-control font-weight-bold" />
            </div>
            <div class="col-xs-12 colsm-12 col-md-6 col-xl-6">
                <input type="button" value="Cancel " id="cancelCodeTable" style="width:40%; background-color:orange" class="form-control font-weight-bold" />
            </div>
        </div>
    }
</div>

