﻿a.current {
    background-color: White !important;
}

.navbar-border {
    border-bottom: solid 5px #0080c5;
}

.Header1 {
    background-color: darkgray;
    margin: 2% 10% 100% 20%;
    height: 100px;
}

.form-control {
    padding: 0.5em 0 0.5em 0.5em;
    display: block;
    min-height: 3em;
    max-width: 100%;
}

.sb {
    padding-bottom: 0.5em;
    min-height: 3em;
}

.navbar {
    margin-bottom: 0 !important;
}

.thumb {
    content: "Remove";
    background-color: skyblue;
    width: 100px;
    display: block !important;
    margin-left: auto;
    margin-right: auto;
}

.thumbnail {
    width: auto;
    height: auto;
    float: left;
    margin-right: 10px;
    word-break: break-all;
}

#Update_tableGrid td {
    padding-right: 10px;
}


@media (min-width: 768px) {
    .nav {
        border-top: 1px solid #ccc;
        border-width: 0px 0;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .navbar, #mainContainer, #mainMenu {
        padding-left: 5%;
        padding-right: 5%;
    }

    .nav li {
        display: inline;
    }

    .nav a {
        display: inline-block;
        padding: 5px 10px !important;
        line-height: 2;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        color: orange;
    }

    .sidenav {
        padding: 60px 0 10px 0;
        width: 100%;
    }

    .body-content {
        padding-top: 60px;
        max-width: 100%;
        max-height: 720px !important;
    }

    .content {
        width: 100% !important;
        max-width: 100% !important;
    }

    .editor-label {
        padding: 2%;
    }

    .editor-field.childform {
        padding: 2% 2% 5% 2%;
    }

    .editor-field.enrollform {
        padding: 2% 2% 5% 2%;
    }

    #req_attachdocs, #opt_attachdocs {
        min-height: 240px;
    }

    .table_duplicateChild {
        padding: 10px;
    }

    .ui-jqgrid tr.jqgrow td {
        font-size: 14px !important;
    }

    .ui-jqgrid .ui-jqgrid-htable th div {
        font-size: 14px !important;
    }
}

@media (max-width: 767px) {
    .nav {
        border: 1px solid #ccc;
        border-width: 0 0;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

        .nav li {
            display: inline;
        }

        .nav a {
            display: initial;
            padding: 5px 5px !important;
            line-height: 2;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            color: orange;
        }

    .sidenav {
        padding: 230px 0 10px 0;
    }

    .body-content {
        padding: 10px 0px 0px 0px;
    }

    .editor-label {
        padding: 2%;
    }

    .editor-field {
        padding: 2%;
    }
}

.column {
    width: 100%;
}

.container {
    padding: 10px 0 10px 0;
}

.avatar {
    vertical-align: middle;
    border-radius: 50%;
    width: 75%;
    height: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* File upload Modal*/

.fileUpload {
    position: relative;
    overflow: hidden;
    width: 50%;
}

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

body {
    background-color: #fcfcfc;
}

/*#mainContainer {
     padding-top:0px;
     margin-top:0px;
}


ToDo change this and the main body with to show a shortee side nav
    #Sidebar {
    width:250px;
}

@media screen and (min-width:1366px) and (max-width:1919px) {
    #mainContainer {
        margin-top: 72px;
    }
    .form-control text-box single-line{
        min-width:200px;
    }
}*/

.avatar-view {
    display: block;
    margin: 1% auto 1%;
    height: 600px;
    width: 220px;
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
    cursor: pointer;
    overflow: auto;
}

    .avatar-view img {
        display: block;
        max-height: 100%;
        max-width: 100%;
    }

.avatar-body {
    padding-right: 15px;
    padding-left: 15px;
}

.avatar-upload {
    overflow: hidden;
}

    .avatar-upload label {
        display: block;
        float: left;
        clear: left;
        width: 100px;
    }

    .avatar-upload input {
        display: block;
        margin-left: 110px;
    }

.avatar-alert {
    margin-top: 10px;
    margin-bottom: 10px;
}

.avatar-wrapper {
    height: 364px;
    width: 100%;
    margin-top: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.25);
    background-color: #fcfcfc;
    overflow: hidden;
}

    .avatar-wrapper img {
        display: block;
        height: auto;
        max-width: 100%;
    }

.avatar-preview {
    float: left;
    margin-top: 15px;
    margin-right: 15px;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
}

    .avatar-preview:hover {
        border-color: #ccf;
        box-shadow: 0 0 5px rgba(0,0,0,.15);
    }

    .avatar-preview img {
        width: 100%;
    }

.preview-lg {
    height: 184px;
    width: 184px;
    margin-top: 15px;
}

.preview-md {
    height: 100px;
    width: 100px;
}

.preview-sm {
    height: 50px;
    width: 50px;
}

@media (min-width: 768px) {
    .avatar-preview {
        float: none;
    }
}

.avatar-btns {
    margin-top: 30px;
    margin-bottom: 15px;
}

    .avatar-btns .btn-group {
        margin-right: 5px;
    }

.loading {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff url("../images/loading.gif") no-repeat center center;
    opacity: .75;
    filter: alpha(opacity=75);
    z-index: 20140628;
}


/* File upload Modal*/
