﻿@model FTCWebApp.ViewModels.ShippingVM
@{
    ViewBag.Title = "ShippingRecievingDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $('#Menu_Shipping').addClass('current');
    });
</script>

@using (Html.BeginForm("SubmitShippingRecievingDetails", "Shipping", FormMethod.Post, new { id = "ShippingReceivingDetails" }))
{
    <h4 style="padding-top:30px;">Recieved Shipment Details</h4>
    <div id="content" style="position:relative; padding-top:30px;">
        <div>
            <div class="col-xs-12 colsm-12 col-md-3 col-xl-3">
                <div class="editor-label">
                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-8">
                        <span style="color:red;padding:2%;" id="RecievedOnDate_reqIndicator">*</span>
                        @Html.LabelFor(model => model.Details.RecievedOnDate)
                    </div>
                </div>
                <div class="editor-field childform">
                    @Html.TextBoxFor(model => model.Details.RecievedOnDate, new { @class = "form-control", style = "width: 100%;", placeholder = "Recieved on Date", tabindex = 1 })
                    @Html.ValidationMessageFor(model => model.Details.RecievedOnDate)
                </div>      
            </div>
            <div class="col-xs-12 colsm-12 col-md-3 col-xl-3">
                <div class="editor-label">
                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-8">
                        <span style="color:red;padding:2%;" id="RecievedBy">*</span>
                        @Html.LabelFor(model => model.Details.RecievedBy)
                    </div>
                </div>
                <div class="editor-field childform">
                    @Html.TextBoxFor(model => model.Details.RecievedBy, new { @class = "form-control", style = "width: 100%;", placeholder = "Recieved By", tabindex = 2 })
                    @Html.ValidationMessageFor(model => model.Details.RecievedBy)
                </div>
            </div>
            <div class="col-xs-12 colsm-12 col-md-3 col-xl-3"> 
            <div class="editor-label">
                <div class="col-xs-12 colsm-12 col-md-12 col-xl-12">
                    @Html.LabelFor(model => model.ActionType)
                </div>
            </div>
            <div class="editor-field childform">
                @Html.DropDownListFor(model => model.ActionType, new SelectList(Model.ActionTypes, "Value", "Text"), new { @class = "form-control", style = "width: 100%;" })
            </div>
            </div>
        <div>
            @*<div class="editor-label">
                <div class="col-xs-12 colsm-12 col-md-8 col-xl-8">
                    @Html.LabelFor(model => model.Details.ChildNumbersIncludedInShipment)
                </div>
            </div>
            <div class="editor-field childform">
                @Html.TextAreaFor(model => model.Details.ChildNumbersIncludedInShipment, new { @class = "form-control", style = "width: 100%;", tabindex = 3 })
                @Html.ValidationMessageFor(model => model.Details.ChildNumbersIncludedInShipment)
            </div>*@
            <div class="editor-label col-xs-12 colsm-12 col-md-8 col-xl-8">
                    @Html.LabelFor(model => model.Details.ShippingNotes) 
            </div>
            <div class="editor-field childform">
                @Html.TextAreaFor(model => model.Details.ShippingNotes, new { @class = "form-control", style = "width: 100%; height:275px;", placeholder = "Shipping Notes, include count of documents by type.", tabindex = 3 })
                @Html.ValidationMessageFor(model => model.Details.ShippingNotes)
            </div>
            <div style="padding:0.5%;">
                <div class="col-xs-12 colsm-12 col-md-6 col-xl-6">
                    <input type="button" value="Submit" id="Submit" style="width:50%; background-color:orange; float:right" class="form-control font-weight-bold" tabindex="11" />
                </div>                
            </div>
        </div>
    </div>
        </div>
}





