﻿
@model FTCWebApp.ViewModels.ShippingVM
    
@{
    ViewBag.Title = "ShippingRecieving";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        //This function loads the 'Incomplete Child Updates' grid on click of a button.
       //This function loads the 'Incomplete Child Updates' grid on click of a button.
        $(function () {
            var firstClick = true;
            $("#getShipments").click(function () {
                // Construct data string
                var formData = new FormData();
                formData.append('countryID', $('#child_CountryId').val());
                formData.append('trackingNumber', $('#Details_TrackingNumber').val());
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("getShipments", "Shipping")',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            if (!firstClick) {
                                $.jgrid.gridUnload('#ShippingRecieving_tableGrid');
                            }
                            firstClick = false;
                            $("#ShippingRecieving_tableGrid").jqGrid({
                                datatype: 'jsonstring',
                                datastr: data,
                                jsonReader: {
                                    root: "data",
                                    ID: "ShipmentID",
                                    Number: "TrackingNumber"
                                },
                                colNames: ['Tracking Number', 'Shipment ID', 'Shipped VIA', 'Shipped from Country', 'Shipped on Date', 'Shipped By', 'Shipment Weight', 'Shipment Currency','Shipment Cost'],
                                colModel: [
                                    //{ name: 'TrackingNumber', width: 200, sortable: true, jsonmap: "TrackingNumber" },
                                    {
                                        name: 'TrackingNumber', width: 200, sortable: true, jsonmap: "TrackingNumber, ShipmentID", formatter: function (cellvalue, options, rowObject) {
                                            var x = '@Html.ActionLink("Tracking_Number", "ShippingRecievingDetails", "Shipping", new { shipingID = "shipingID" }, new { @style = "color:Blue;font-weight:bold;" })';
                                            x = x.replace("shipingID", rowObject.ShipmentID);
                                            return x.replace("Tracking_Number", rowObject.TrackingNumber);
                                        }
                                    },
                                { name: 'ShipmentID', key: true, width: 250, jsonmap: "ShipmentID",hidden: true },
                                { name: 'ShippedVIA', width: 200, sortable: true, jsonmap: "ShippedVia" },
                                { name: 'ShippedfromCountry', width: 200, sortable: true, jsonmap: "ShippedFromCountry" },
                                { name: 'ShippedonDate', width: 130, sortable: true, jsonmap: "ShippedOnDate" },
                                { name: 'ShippedBy', width: 130, sortable: true, jsonmap: "ShippedBy" },
                                { name: 'ShipmentWeight', width: 150, sortable: true, jsonmap: "ShipmentWeight" },
                                { name: 'ShipmentCurrency', width: 150, sortable: true, jsonmap: "Currency" },
                                { name: 'ShipmentCost', width: 200, sortable: true, jsonmap: "ShippingCost" }
                                ],
                                height: 'auto',
                                //width: '870',
                                width: 'auto',
                                loadonce: false,
                                rowNum: 15,
                                gridview: true,
                                viewrecords: true,
                                sortorder: "desc",
                                rowList: [10, 15, 20],
                                pager: '#ShippingRecieving_Pager',
                                //Commented for future use
                                //sortname: 'Location',
                                pgbuttons: true
                            });
                            $('#lui_ShippingRecieving_tableGrid').removeClass('ui-widget-overlay jqgrid-overlay');
                        }
                    });
            });
        });

        @{ 
            
            Html.RenderPartial("~/Views/partials/pv_User_Cache_Defaults.cshtml", Model.user_Session_Defaults);

        }

    });
</script>
<body>
    <!-- Shipping Recieving page -->
    @using (Html.BeginForm("ShippingRecievingDetails", "Shipping", FormMethod.Post, new { id = "ShippingRecievingForm" }))
    {
    <div id="content" style="position:relative; padding-top:30px">
        <div class="col-xs-12 colsm-12 col-md-12 col-xl-12">
            <div class="col-xs-12 colsm-12 col-md-3 col-xl-3" style="padding-left:0px;">
                <div class="editor-label" style="padding-left:0px;">
                    <div>
                        @Html.Label("Recieved from Country:")
                    </div>
                </div>
                <div class="editor-field childform" style="padding-left:0px;">
                    @Html.DropDownListFor(model => model.child.CountryId, new SelectList(Model.Countries, "Value", "Text"), "Select Country", new { @class = "form-control", style = "width: 100%;" })
                </div>
            </div>
            <div class="col-xs-12 colsm-12 col-md-3 col-xl-3">
                <div class="editor-label">
                    <div>
                        @Html.LabelFor(model => model.Details.TrackingNumber)
                    </div>
                </div>
                <div class="editor-field childform">
                    @Html.TextBoxFor(model => model.Details.TrackingNumber, new { @class = "form-control", style = "width: 100%;" })
                </div>

            </div>
            @*<div class="col-xs-12 colsm-12 col-md-3 col-xl-3">
                <div class="editor-label">
                    <div>
                        @Html.LabelFor(model=>model.ActionType)
                    </div>
                </div>
                <div class="editor-field childform">
                    @Html.DropDownListFor(model => model.ActionType, new SelectList(Model.ActionTypes, "Value", "Text"), new { @class = "form-control", style = "width: 100%;" })
                </div>
            </div>*@
        </div>
        <div class="col-xs-12 colsm-12 col-md-12 col-xl-12">
            <div class="col-xs-12 colsm-12 col-md-3 col-xl-3" style="padding-left:0px;">
                <input type="button" value="Submit" id="getShipments" style="width:70%; background-color:orange;" class="form-control font-weight-bold" />
            </div>
        </div>
        <div class="col-xs-12 colsm-12 col-md-12 col-xl-12">
            <div style="margin-top:10px;">
                <table id="ShippingRecieving_tableGrid"></table>
                <div id="ShippingRecieving_Pager"></div>
            </div>
        </div>
    </div>
    }
</body>