﻿@model FTCWebApp.ViewModels.ShippingVM
@{
    ViewBag.Title = "ShippingCreationDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $('#Menu_Shipping').addClass('current');
    });
</script>

@using (Html.BeginForm("SubmitShippingDetails", "Shipping", FormMethod.Post, new { id = "ShippingDetails" }))
{
    <h4 style="padding-top:30px;">Shipment Details</h4>
    <div id="content" style="position:relative; padding-top:30px;">
        <div>
            <div class="col-xs-12 colsm-12 col-md-3 col-xl-3">
                <div class="editor-label">
                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-8">
                        <span style="color:red;padding:2%;" id="ShippedOnDate_reqIndicator">*</span>
                        @Html.LabelFor(model => model.Details.ShippedOnDate)
                    </div>
                </div>
                <div class="editor-field childform">
                    @Html.TextBoxFor(model => model.Details.ShippedOnDate, new { @class = "form-control", style = "width: 100%;", placeholder = "Shipped on Date", tabindex = 1 })
                    @Html.ValidationMessageFor(model => model.Details.ShippedOnDate)
                </div>
                <div class="editor-label">
                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-8">
                        <span style="color:red;padding:2%;" id="TrackingNumber_reqIndicator">*</span>
                        @Html.LabelFor(model => model.Details.TrackingNumber)
                    </div>
                </div>
                <div class="editor-field childform">
                    @Html.TextBoxFor(model => model.Details.TrackingNumber, new { @class = "form-control", style = "width: 100%;", placeholder = "Tracking Number", tabindex = 6 })
                    @Html.ValidationMessageFor(model => model.Details.TrackingNumber)
                </div>
            </div>
            <div class="col-xs-12 colsm-12 col-md-3 col-xl-3">
                <div class="editor-label">
                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-8">
                        <span style="color:red;padding:2%;" id="ShippedVIA_reqIndicator">*</span>
                        @Html.LabelFor(model => model.Details.ShippedVia)
                    </div>
                </div>
                <div class="editor-field childform">
                    @Html.TextBoxFor(model => model.Details.ShippedVia, new { @class = "form-control", style = "width: 100%;", placeholder = "Shipped VIA", tabindex = 2 })
                    @Html.ValidationMessageFor(model => model.Details.ShippedVia)
                </div>
                <div class="editor-label">
                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-12">
                        <span style="color:red;padding:2%;" id="ShippedFrom_reqIndicator">*</span>
                        @Html.LabelFor(model => model.Details.ShippedFromCountry)
                    </div>
                </div>
                <div class="editor-field childform">
                    @Html.TextBoxFor(model => model.Details.ShippedFromCountry, new { @class = "form-control", style = "width: 100%;", placeholder = "Shipped from Country", tabindex = 7 })
                    @Html.ValidationMessageFor(model => model.Details.ShippedFromCountry)
                </div>
            </div>
            <div class="col-xs-12 colsm-12 col-md-3 col-xl-3">
                <div class="editor-label">
                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-8">
                        @Html.LabelFor(model => model.Details.ShipmentWeight)
                    </div>
                </div>
                <div class="editor-field childform">
                    @Html.TextBoxFor(model => model.Details.ShipmentWeight, new { @class = "form-control", style = "width: 100%;", placeholder = "Shipment Weight", tabindex = 3 })
                    @Html.ValidationMessageFor(model => model.Details.ShipmentWeight)
                </div>
                <div class="editor-label">
                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-8">
                        @Html.LabelFor(model => model.Details.ShippedBy)
                    </div>
                </div>
                <div class="editor-field childform">
                    @Html.TextBoxFor(model => model.Details.ShippedBy, new { @class = "form-control", style = "width: 100%;", placeholder = "Shipped By", tabindex = 3 })
                    @Html.ValidationMessageFor(model => model.Details.ShippedBy)
                </div>
            </div>
            <div class="col-xs-12 colsm-12 col-md-3 col-xl-3">
                <div class="editor-label">
                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-12">
                        @Html.Label("Shipping Cost:")
                    </div>
                </div>
                <div class="col-xs-12 colsm-12 col-md-12 col-xl-12 editor-field childform">
                    <div class="col-xs-12 colsm-12 col-md-6 col-xl-6" style="width: 100%; padding:0%">
                        @Html.TextBoxFor(model => model.Details.Currency, new { @class = "form-control", placeholder = "Currency", tabindex = 4 })
                    </div>
                    <div class="col-xs-12 colsm-12 col-md-6 col-xl-6" style="width: 100%; padding:0%">
                        @Html.TextBoxFor(model => model.Details.Currency, new { @class = "form-control", placeholder = "Cost", tabindex = 5 })
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="editor-label">
                <div class="col-xs-12 colsm-12 col-md-12 col-xl-8">
                    @Html.LabelFor(model => model.Details.ShippingNotes)
                </div>
            </div>
            <div class="editor-field childform">
                @Html.TextAreaFor(model => model.Details.ShippingNotes, new { @class = "form-control", style = "width: 100%; height:275px;", placeholder = "Shipping Notes, include count of documents by type.", tabindex = 3 })
                @Html.ValidationMessageFor(model => model.Details.ShippingNotes)
            </div>
            <div style="padding:0.5%;">
                <div class="col-xs-12 colsm-12 col-md-6 col-xl-6">
                    <input type="button" value="Save Shipment" id="SaveShipment" style="width:50%; background-color:orange; float:right" class="form-control font-weight-bold" tabindex="11" />
                </div>
                <div class="col-xs-12 colsm-12 col-md-6 col-xl-6">
                    <input type="button" value="Submit Shipment" id="SubmitShipment" style="width:50%; background-color:orange" class="form-control font-weight-bold" tabindex="12" />
                </div>
            </div>
        </div>
    </div>
}



