﻿<!-- Partial View for Child form-->

@model FTCWebApp.ViewModels.CommonVM

@{
    var ProfilePhotoname = "";
    var imgSrc = "";
    var photo_modules = new HashSet<string>(new[] { "Enrollment", "Update", "QCEnrollment", "QCUpdate", "Translate", "ChildRecord" });
}
@if (photo_modules.Contains(ViewBag.Module))
{
    if (Model.child.ProfilePhoto != null)
    {
        if (Model.child.ProfilePhoto.FileBytes != null)
        {
            var base64 = Convert.ToBase64String(Model.child.ProfilePhoto.FileBytes);
            ProfilePhotoname = Model.child.ProfilePhoto.FileName;
            imgSrc = string.Format("data:image/gif;base64,{0}", base64);
        }
    }
    else
    {
        imgSrc = "/Content/themes/base/images/avatar.png";
    }
}

<div class="col-xs-12 colsm-12 col-md-4 col-xl-4" style="padding-top:10px;">
    @Html.Hidden("URLReturnToTranslation", Url.Action("Translation", "PanMain"))
    @Html.Hidden("URLReturnToQC", Url.Action("QualityControl", "PanMain"))
    @Html.Hidden("URLReturnToChildRecords", Url.Action("Index", "ChildRecords"))
    <div class="col-xs-12 colsm-12 col-md-12 col-xl-12" style="padding:1% 1% 6% 1%;height:250px">
        <img id="child_profileImage" src="@imgSrc" alt="@ProfilePhotoname" class="img-responsive" style="max-height:100%; max-width:100%;margin:auto">
    </div>
    <div class="col-xs-12 colsm-12 col-md-12 col-xl-12 editor-label" style="padding:1%">
        <div class="row" id="child-ID_DIV">
            <div class="col-xs-12 colsm-12 col-md-4 col-xl-4"><span>@Html.LabelFor(model => model.child.ChildID)</span></div>
            <div class="col-xs-12 colsm-12 col-md-8 col-xl-8" style="padding-right:0"><span id="child-ID" style="font-size:12px;">@Html.DisplayFor(model => model.child.ChildID)</span></div>
        </div>
        <div class="row">
            <div class="col-xs-12 colsm-12 col-md-4 col-xl-4"><span>@Html.LabelFor(model => model.child.ChildNumber)</span></div>
            <div class="col-xs-12 colsm-12 col-md-8 col-xl-8"><span id="child-Number">@Html.DisplayFor(model => model.child.ChildNumber)</span></div>
        </div>
        <div class="row">
            <div class="col-xs-12 colsm-12 col-md-4 col-xl-4"><span>@Html.Label("ChildAge", "Child Age")</span></div>
            <div class="col-xs-12 colsm-12 col-md-8 col-xl-8"><span id="child-Age">@Html.DisplayFor(model => model.child.Date_Of_Birth_Computed_Age)</span></div>
        </div>
    </div>
</div>
<div class="col-xs-12 colsm-12 col-md-8 col-xl-8" style="padding-top:10px;">
    <form id="childform">
        <div class="col-xs-12 colsm-12 col-md-4 col-xl-4">
            <div class="editor-label">
                <div class="col-xs-12 colsm-12 col-md-12 col-xl-8">
                    <span style="color:red;padding:2%" id="Country_reqIndicator">*</span>
                    @Html.LabelFor(model => model.child.CountryId)
                </div>
                <div style="float:right" class="col-xs-12 colsm-12 col-md-12 col-xl-4">
                    <span style="padding:2%" title="Country is required" id="Country_info">[?]</span>
                    @if (ViewBag.Module == "Update" || ViewBag.Module == "QCUpdate")
                    {
                        <span style="padding:2%;float:right" class="glyphicon glyphicon-book" id="Country_prevValue"></span>
                    }
                </div>
            </div>
            <div class="editor-field childform">
                @Html.DropDownListFor(m => m.child.CountryId, new SelectList(Model.Countries, "Value", "Text"), "Select Country", new { @class = "form-control", style = "width: 100%;", tabindex = 1 })
                @Html.ValidationMessageFor(model => model.Countries)
            </div>
            <div class="editor-label">
                <div class="col-xs-12 colsm-12 col-md-9 col-xl-9">
                    <span style="color:red;padding:2%" id="LocationName_reqIndicator">*</span>
                    @Html.LabelFor(model => model.child.LocationName)
                </div>
                <div style="float:right" class="col-xs-12 colsm-12 col-md-3 col-xl-3">
                    <span style="padding:2%;" title="Location Name is required" id="LocationName_info">[?]</span>
                    @if (ViewBag.Module == "Update" || ViewBag.Module == "QCUpdate")
                    { <span style="padding:2%;float:right" class="glyphicon glyphicon-book" id="LocationName_prevValue"></span> }
                </div>
            </div>
            <div class="editor-field childform">
                @if (ViewBag.Module == "Enrollment" || ViewBag.Module == "ChildRecord")
                {
                    @Html.DropDownListFor(model => model.child.LocationName, Model.Locations as SelectList, "Select Location", new { @class = "form-control", style = "width: 100%;", tabindex = 2 })
                    @Html.ValidationMessageFor(model => model.child.LocationCodeID)
                }
                else if (ViewBag.Module == "Update" || ViewBag.Module == "QCUpdate" || ViewBag.Module == "QCEnrollment" || ViewBag.Module == "Translate")
                {
                    @Html.TextBoxFor(model => model.child.LocationName, new { @class = "form-control", style = "width: 100%;", tabindex = 2 })
                }
            </div>
            <div class="editor-label">
                <div class="col-xs-12 colsm-12 col-md-12 col-xl-8">
                    <span style="color:red;padding:2%" id="LocationCodeID_reqIndicator">*</span>
                    @Html.LabelFor(model => model.child.LocationCodeID)
                </div>
                <div style="float:right" class="col-xs-12 colsm-12 col-md-12 col-xl-4">
                    <span style="padding:2%;" title="Location ID is required" id="LocationCodeID_info">[?]</span>
                    @if (ViewBag.Module == "Update" || ViewBag.Module == "QCUpdate")
                    { <span style="padding:2%;float:right" class="glyphicon glyphicon-book" id="LocationCodeID_prevValue"></span> }
                </div>
            </div>
            <div class="editor-field childform">
                @if (ViewBag.Module == "Enrollment" || ViewBag.Module == "ChildRecord")
                {
                    @Html.DropDownListFor(model => model.child.LocationCodeID, Model.LocationCodes as SelectList, "Select Location Code", new { @class = "form-control", style = "width: 100%;", tabindex = 3 })
                    @Html.ValidationMessageFor(model => model.child.LocationCodeID)
                }
                else if (ViewBag.Module == "Update" || ViewBag.Module == "QCUpdate" || ViewBag.Module == "QCEnrollment" || ViewBag.Module == "Translate")
                {
                    @Html.TextBoxFor(model => model.child.LocationCodeID, new { @class = "form-control", style = "width: 100%;", tabindex = 3 })
                }
            </div>
        </div>
        <div class="col-xs-12 colsm-12 col-md-4 col-xl-4">
            <div class="editor-label">
                <div class="col-xs-12 colsm-12 col-md-12 col-xl-8">
                    <span style="color:red;padding:2%;visibility:hidden" id="FirstName_reqIndicator">*</span>
                    @Html.LabelFor(model => model.child.FirstName)
                </div>
                <div style="float:right" class="col-xs-12 colsm-12 col-md-12 col-xl-4">
                    <span style="padding:2%;visibility:hidden" id="FirstName_info" title="First Name is required">[?]</span>
                    @if (ViewBag.Module == "Update" || ViewBag.Module == "QCUpdate")
                    { <span style="padding:2%;float:right" class="glyphicon glyphicon-book" id="FirstName_prevValue"></span> }
                </div>
            </div>
            <div class="editor-field childform">
                @Html.TextBoxFor(model => model.child.FirstName, new { @class = "form-control", style = "width: 100%;", placeholder = "First Name", tabindex = 4 })
                @Html.ValidationMessageFor(model => model.child.FirstName)
            </div>
            <div class="editor-label">
                <div class="col-xs-12 colsm-12 col-md-12 col-xl-8">
                    <span style="color:red;padding:2%;visibility:hidden" id="LastName_reqIndicator">*</span>
                    @Html.LabelFor(model => model.child.LastName)
                </div>
                <div style="float:right" class="col-xs-12 colsm-12 col-md-12 col-xl-4">
                    <span style="padding:2%;visibility:hidden" id="LastName_info" title="Last Name is required">[?]</span>
                    @if (ViewBag.Module == "Update" || ViewBag.Module == "QCUpdate")
                    { <span style="padding:2%;float:right" class="glyphicon glyphicon-book" id="LastName_prevValue"></span> }
                </div>
            </div>
            <div class="editor-field childform">
                @Html.TextBoxFor(model => model.child.LastName, new { @class = "form-control", style = "width: 100%;", placeholder = "Last Name", tabindex = 6 })
                @Html.ValidationMessageFor(model => model.child.LastName)
            </div>
            <div class="editor-label">
                <div class="col-xs-12 colsm-12 col-md-12 col-xl-8">
                    <span style="color:red;padding:2%;visibility:hidden" id="GenderCodeID_reqIndicator">*</span>
                    @Html.LabelFor(model => model.child.GenderCodeID)
                </div>
                <div style="float:right" class="col-xs-12 colsm-12 col-md-12 col-xl-4">
                    <span style="padding:2%;visibility:hidden" id="GenderCodeID_info" title="Gender Code ID is required">[?]</span>
                    @if (ViewBag.Module == "Update" || ViewBag.Module == "QCUpdate")
                    { <span style="padding:2%;float:right" class="glyphicon glyphicon-book" id="GenderCodeID_prevValue"></span> }
                </div>
            </div>
            <div class="editor-field childform">
                @Html.DropDownListFor(model => model.child.GenderCodeID, new SelectList(Model.Genders, "Value", "Text"), "Sex", new { @class = "form-control", style = "width: 100%;", tabindex = 8 })
                @Html.ValidationMessageFor(model => model.child.GenderCodeID)
            </div>
        </div>
        <div class="col-xs-12 colsm-12 col-md-4 col-xl-4">
            <div class="editor-label">
                <div class="col-xs-12 colsm-12 col-md-12 col-xl-8">
                    @Html.LabelFor(model => model.child.MiddleName)
                </div>
                <div style="float:right" class="col-xs-12 colsm-12 col-md-12 col-xl-4">
                    @if (ViewBag.Module == "Update" || ViewBag.Module == "QCUpdate")
                    { <span style="padding:2%;float:right" class="glyphicon glyphicon-book" id="MiddleName_prevValue"></span> }
                </div>
            </div>
            <div class="editor-field childform">
                @Html.TextBoxFor(model => model.child.MiddleName, new { @class = "form-control", style = "width: 100%;", placeholder = "Middle Name", tabindex = 5 })
                @Html.ValidationMessageFor(model => model.child.MiddleName)
            </div>
            <div class="editor-label">
                <div class="col-xs-12 colsm-12 col-md-12 col-xl-8">
                    @Html.LabelFor(model => model.child.OtherNameGoesBy)
                </div>
                <div style="float:right" class="col-xs-12 colsm-12 col-md-12 col-xl-4">
                    @if (ViewBag.Module == "Update" || ViewBag.Module == "QCUpdate")
                    { <span style="padding:2%;float:right" class="glyphicon glyphicon-book" id="OtherNameGoesBy_prevValue"></span> }
                </div>
            </div>
            <div class="editor-field childform">
                @Html.TextBoxFor(model => model.child.OtherNameGoesBy, new { @class = "form-control", style = "width: 100%;", placeholder = "Other Name", tabindex = 7 })
                @Html.ValidationMessageFor(model => model.child.OtherNameGoesBy)
            </div>
            <div class="editor-label">
                <div class="col-xs-12 colsm-12 col-md-12 col-xl-8">
                    <span style="color:red;padding:2%;visibility:hidden" id="DateOfBirth_reqIndicator">*</span>
                    @Html.LabelFor(model => model.child.DateOfBirth)
                </div>
                <div style="float:right" class="col-xs-12 colsm-12 col-md-12 col-xl-4">
                    <span style="padding:2%;visibility:hidden" id="DateOfBirth_info" title="Date/Year of Birth is required">[?]</span>
                    @if (ViewBag.Module == "Update" || ViewBag.Module == "QCUpdate")
                    { <span style="padding:2%;float:right" class="glyphicon glyphicon-book" id="DateOfBirth_prevValue"></span> }
                </div>
            </div>
            <div class="editor-field childform">
                @if (ViewBag.Module == "Enrollment" || ViewBag.Module == "ChildRecord")
                {
                    @Html.TextBoxFor(model => model.child.DateOfBirth, new { @class = "form-control", type = "date", placeholder = "Enter Year of Birth...", style = "width: 100%;", maxlength = "4", tabindex = 9 })
                    <div id="YearOnlyDiv">
                        <ul style="display:inline">
                            <li style="display:inline-block"><input type="checkbox" id="chkDOB" value="true" /></li>
                            <li style="display:inline-block">Year only</li>
                        </ul>
                    </div>
                }
                else if (ViewBag.Module == "Update" || ViewBag.Module == "QCEnrollment" || ViewBag.Module == "QCUpdate" || ViewBag.Module == "Translate")
                {
                    @Html.TextBoxFor(model => model.child.DateOfBirth, new { @class = "form-control", style = "width: 100%;", tabindex = 9 })
                }
            </div>
        </div>
        <div id="child_id_container">
            <input id="child_ChildID" name="child.ChildID" type="hidden" />
        </div>
        <div id="child_number_container">
            <input id="child_ChildNumber" name="child.ChildNumber" type="hidden" />
        </div>
        @if (ViewBag.Module == "Enrollment")
        {
            @Html.Hidden("declines.IsDeclinedChildInfo", Model.Declines.Count(a => a.DeclineReason == "Child Information"));

            if (Model.Declines != null && Model.Declines.Count > 0)
            {
                if (Model.Declines.Count(a => a.DeclineReason == "Child Information") == 1)
                {
                <div class="col-xs-12 colsm-12 col-md-12 col-xl-12" style="padding:0.5%; align-content:center">
                    <div class="col-xs-12 colsm-12 col-md-6 col-xl-7">
                        <input type="button" value="Save Child Information" id="child_saveDeclinedChildInfo" style="width:70%; background-color:orange" class="form-control font-weight-bold" tabindex="10" />
                    </div>
                </div>
                }
            }
            else
            {
                <div class="col-xs-12 colsm-12 col-md-12 col-xl-12" style="padding:0.5%;">
                    <div class="col-xs-12 colsm-12 col-md-6 col-xl-6">
                        <input type="button" value="Save Progress" id="child_saveprogress" style="width:70%; background-color:orange; float:right" class="form-control font-weight-bold" tabindex="10" />
                    </div>
                    <div class="col-xs-12 colsm-12 col-md-6 col-xl-6">
                        <input type="button" value="Enrollment Screen" id="child_enrollscreen" style="width:70%; background-color:orange" class="form-control font-weight-bold" tabindex="11" />
                    </div>                    
                </div>
            }


            @*@Html.Hidden("declines.IsDeclinedChildInfo", Model.Declines.Count(a => a.DeclineReason == "Child Information"));
            //create a different id for the button when working on new updates vs declined pass this id to the controller and  decide on which file type validation to use
            string SaveButtonID = "child_saveprogress";
            string SaveAndProceedButtonID = "child_enrollscreen";
            if (Model.Declines != null && Model.Declines.Count > 0)
            {
                SaveButtonID = "child_saveDeclinedChildInfo";
                SaveAndProceedButtonID = "child_submitDeclinedChildInfo";
            }
            <div class="col-xs-12 colsm-12 col-md-12 col-xl-12" style="padding:0.5%;">
                <div class="col-xs-12 colsm-12 col-md-6 col-xl-6">
                    <input type="button" value="Save Progress" id=@SaveButtonID style="width:70%; background-color:orange; float:right" class="form-control font-weight-bold" tabindex="10" />
                </div>
                @if (Model.Declines.Count == 0)
                {
                <div class="col-xs-12 colsm-12 col-md-6 col-xl-6">
                    <input type="button" value="Enrollment Screen" id=@SaveAndProceedButtonID style="width:70%; background-color:orange" class="form-control font-weight-bold" tabindex="11" />
                </div>
                }
            </div>*@
        }
        else if (ViewBag.Module == "Update")
        {
            <div class="col-xs-12 colsm-12 col-md-12 col-xl-12" style="padding:0.5%; align-content:center">
                <div class="col-xs-12 colsm-12 col-md-6 col-xl-6">
                    <input type="button" value="Update Information Screen" id="child_updatescreen" style="width:70%; background-color:orange" class="form-control font-weight-bold" tabindex="10" />
                </div>
            </div>
        }
        else if (ViewBag.Module == "Translate")
        {
            
                @*var parentMLEId = 0;
                var MLEDecline = Model.Child_translationSteps.FirstOrDefault(a => a.Step == "Update Information");
                if (MLEDecline != null)
                {
                    parentMLEId = MLEDecline.MLEID;
                }
            @Html.Hidden("ParnetMLEId", parentMLEId);*@
            <div class="col-xs-12 colsm-12 col-md-12 col-xl-12" style="padding:0.5%; align-content:center">
                <div class="col-xs-12 colsm-12 col-md-6 col-xl-6">
                    <input type="button" value="Submit Translation" id="SubmitTranslation" style="width:70%; background-color:orange" class="form-control font-weight-bold" tabindex="10" />
                </div>
            </div>
        }
        else if (ViewBag.Module == "ChildRecord" && Model.currentUser.CanEdit)
        {
            <div class="col-xs-12 colsm-12 col-md-12 col-xl-12" style="padding:0.5%; align-content:center">
                <div class="col-xs-12 colsm-12 col-md-6 col-xl-6">
                    <input type="button" value="Save Progress" id="childrecord_saveprogress" style="width:70%; background-color:orange; float:right" class="form-control font-weight-bold" />
                </div>
                @*<div class="col-xs-12 colsm-12 col-md-6 col-xl-6">
                    <input type="button" value="Child Information Screen" id="childrecord_updatescreen" style="width:70%; background-color:orange" class="form-control font-weight-bold" />
                </div>*@
            </div>
        }
    </form>
</div>
