﻿@model FTCWebApp.ViewModels.CommonVM
@*@{
    string disable = "disabled=\'disabled\'";
    string editUpdateInformation = "";
    if (ViewBag.Module == "Update")
    {
        if (Model.Declines != null && Model.Declines.FirstOrDefault(a => a.Decline_Reason_Code == 1) == null)
        {
            editUpdateInformation = disable;
        }
        else
        {
            editUpdateInformation = "";
        }
    }
}*@
<script>
    $(document).ready(function () {  
        var moduleName = $('#module_name').val();
        if ( moduleName == "Enrollment" || moduleName == "Update") 
        {
            var declinedSteps =  @Html.Raw(Json.Encode(Model.Declines.Count()));
            var updateInfoDeclined = @Html.Raw(Json.Encode(Model.Declines.Count(a => a.DeclineReason == "Update Information")));
            var childInfoDeclined = @Html.Raw(Json.Encode(Model.Declines.Count(a => a.DeclineReason == "Child Information")));
            var enrollmentInfoDeclined = @Html.Raw(Json.Encode(Model.Declines.Count(a => a.DeclineReason == "Enrollment Information")));
            if(declinedSteps > 0 && updateInfoDeclined == 0 && $('#module_name').val() == "Update"){
                enrollform_disableState();
                $('#child_ChoreCodeID').prop('disabled', true).trigger("chosen:updated");
                $("#child_FavoriteActivityCodeID").prop('disabled', true).trigger("chosen:updated");
            }
            if(declinedSteps > 0 && childInfoDeclined == 0 && $('#module_name').val() == "Enrollment"){
                childform_disableState();
                $('#chkDOB').prop('disabled', true);
                $('#YearOnlyDiv').hide();
                //$('#child_ChoreCodeID').prop('disabled', true).trigger("chosen:updated");
                //$("#child_FavoriteActivityCodeID").prop('disabled', true).trigger("chosen:updated");
            }
            if(declinedSteps > 0 && enrollmentInfoDeclined == 0 && $('#module_name').val() == "Enrollment"){
                enrollform_disableState();
                $('#child_ChoreCodeID').prop('disabled', true).trigger("chosen:updated");
                $("#child_FavoriteActivityCodeID").prop('disabled', true).trigger("chosen:updated");
            }
            if (declinedSteps > 0 && updateInfoDeclined > 0) {
                $('#enroll_submitDeclinedUpdate').prop('disabled', true);
            }
        }
    });
    function ChoresChanged(ddlObject) {
        //if more than 1 chore is selected
        if (ddlObject.selectedOptions.length > 1) {
            //do not allow too young for chores to be selected with other chores, if it is remove the last added chore. this covers too young being added first or last.
            for (item of ddlObject.selectedOptions) {
                if (item.innerText.toLowerCase() == "too young for chores") {
                    alert("The child cannot have chores and be Too Young For Chores!");
                    document.getElementById("child_ChoreCodeID_chosen").getElementsByClassName("search-choice-close")[ddlObject.selectedOptions.length - 1].click();
                }
            }
        }
    }
</script>
<div class="col-xs-12 colsm-12 col-md-12 col-xl-12" style="padding-top:10px;" >
    <form id="enrollform">
        <div class="col-xs-12 colsm-12 col-md-12 col-xl-12" style="padding:0.5%;">
            <div class="col-xs-12 colsm-12 col-md-6 col-xl-6">
                <div class="col-xs-6 colsm-6 col-md-3 col-xl-3">
                    <div class="row">
                        <span>@Html.LabelFor(model => model.child.FirstName)</span>
                    </div>
                </div>
                <div class="col-xs-6 colsm-6 col-md-3 col-xl-3">
                    <div class="row">
                        <span style="color:orange">@Html.DisplayFor(model => model.child.FirstName)</span>
                    </div>
                </div>
                <div class="col-xs-6 colsm-6 col-md-3 col-xl-3">
                    <div class="row">
                        <span>@Html.LabelFor(model => model.child.LastName)</span>
                    </div>
                </div>
                <div class="col-xs-6 colsm-6 col-md-3 col-xl-3">
                    <div class="row">
                        <span style="color:orange">@Html.DisplayFor(model => model.child.LastName)</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 colsm-12 col-md-6 col-xl-6">
                <div class="col-xs-6 colsm-6 col-md-3 col-xl-3">
                    <div class="row">
                        <span>@Html.Label("Created By")</span>
                    </div>
                </div>
                <div class="col-xs-6 colsm-6 col-md-3 col-xl-3">
                    <div class="row">
                        @*<span style="color:orange">@Html.Label("Admin")</span>*@
                    </div>
                </div>
                <div class="col-xs-6 colsm-6 col-md-3 col-xl-3">
                    <div class="row">
                        <span>@Html.Label("Created Date")</span>
                    </div>
                </div>
                <div class="col-xs-6 colsm-6 col-md-3 col-xl-3">
                    <div class="row">
                        @*<span style="color:orange">@Html.Label("3/21/2018")</span>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 colsm-12 col-md-4 col-xl-4">
            <div class="editor-label">
                <div class="col-xs-12 colsm-12 col-md-12 col-xl-9">
                    <span style="color:red;padding:2%;visibility:hidden" id="DisabilityStatusCodeID_reqIndicator">*</span>
                    @Html.LabelFor(model => model.child.DisabilityStatusCodeID)
                </div>
                <div style="float:right" class="col-xs-12 colsm-12 col-md-12 col-xl-3">
                    <span style="padding:2%;visibility:hidden" id="DisabilityStatusCodeID_info" title="Disability Status ID is required">[?]</span>
                    @if (ViewBag.Module == "Update" || ViewBag.Module == "QCUpdate")
                    { <span style="padding:2%;float:right" class="glyphicon glyphicon-book" id="DisabilityStatusCodeID_prevValue" title="Disability: @foreach (var item in Model.ChildHistory.Disabalitites) { @Html.Raw("\n" + item.Text) } "></span> }
                </div>
            </div>
            <div class="editor-field enrollform">
                @Html.DropDownListFor(model => model.child.DisabilityStatusCodeID, new SelectList(Model.Disabalitites, "Value", "Text"), "Disability", new { @class = "form-control", style = "width: 100%;", tabindex ="1"})
                @Html.ValidationMessageFor(model => model.child.DisabilityStatusCodeID)
            </div>
            <div class="editor-label">
                <div class="col-xs-12 colsm-12 col-md-12 col-xl-9">
                    <span style="color:red;padding:2%;visibility:hidden" id="GradeLevelCodeID_reqIndicator">*</span>
                    @Html.LabelFor(model => model.child.GradeLevelCodeID)
                </div>
                <div style="float:right" class="col-xs-12 colsm-12 col-md-12 col-xl-3">
                    <span style="padding:2%;visibility:hidden" id="GradeLevelCodeID_info" title="Grade Level ID is required">[?]</span>
                    @if (ViewBag.Module == "Update" || ViewBag.Module == "QCUpdate")
                    { <span style="padding:2%;float:right" class="glyphicon glyphicon-book" id="GradeLevelCodeID_prevValue" title="Grade-Level: @foreach (var item in Model.ChildHistory.Grades) { @Html.Raw("\n" + item.Text) }"></span> }
                </div>
            </div>
            <div class="editor-field enrollform">
                @if (ViewBag.Module == "Enrollment" && Model.Grades == null)
                {
                    @Html.DropDownListFor(model => model.child.GradeLevelCodeID, Enumerable.Empty<SelectListItem>(), "School Grade", new { @class = "form-control", style = "width: 100%;", tabindex ="5" })
                }
                else if (ViewBag.Module == "Update" || (ViewBag.Module == "Enrollment" && Model.Grades != null) || ViewBag.Module == "ChildRecord")
                {
                    @Html.DropDownListFor(model => model.child.GradeLevelCodeID, new SelectList(Model.Grades, "Value", "Text"), "School Grade", new { @class = "form-control", style = "width: 100%;", tabindex ="5" })
                }
                //In case od enrollment in progress we can populate grades as we have the DOB of the child
                else if (ViewBag.Module == "QCEnrollment" || ViewBag.Module == "QCUpdate")
                {
                    @Html.DropDownListFor(model => model.child.GradeLevelCodeID, new SelectList(Model.Grades, "Value", "Text"), new { @class = "form-control", style = "width: 100%;", tabindex ="5" })
                }
                @Html.ValidationMessageFor(model => model.child.GradeLevelCodeID)
            </div>
            <div class="editor-label">
                <div class="col-xs-12 colsm-12 col-md-12 col-xl-9">
                    <span style="color:red;padding:2%;visibility:hidden" id="ChoreCodeID_reqIndicator">*</span>
                    @Html.LabelFor(model => model.child.ChoreCodeID)
                </div>
                <div style="float:right" class="col-xs-12 colsm-12 col-md-12 col-xl-3">
                    <span style="padding:2%;visibility:hidden" id="ChoreCodeID_info">[?]</span>
                    @if (ViewBag.Module == "Update" || ViewBag.Module == "QCUpdate")
                    { <span style="padding:2%;float:right" class="glyphicon glyphicon-book" id="ChoreCodeID_prevValue" title="Chores: @foreach (var item in Model.ChildHistory.ChoresatHome) { @Html.Raw("\n" + item.Text) } "></span> }
                </div>
            </div>
            <div class="editor-field enrollform" id="choreDiv">
                @if (ViewBag.Module == "Enrollment"  && Model.ChoresatHome == null)
                {
                    @Html.DropDownListFor(model => model.child.ChoreCodeID, Enumerable.Empty<SelectListItem>(), new { @class = "form-control chosen-select", style = "width: 100%;", multiple = "multiple", size = 3, tabindex = "8", @id = "child_ChoreCodeID", @onchange = "ChoresChanged(this)" })
                }
                else if (ViewBag.Module == "Update" || ViewBag.Module == "QCEnrollment" || ViewBag.Module == "QCUpdate" ||(ViewBag.Module == "Enrollment" && Model.ChoresatHome != null) || ViewBag.Module == "ChildRecord")
                {
                    @Html.DropDownListFor(model => model.child.ChoreCodeID, new SelectList(Model.ChoresatHome, "Value", "Text"), new { @class = "form-control chosen-select", style = "width: 100%;", multiple = "multiple", size = 3, tabindex = "8", @id = "child_ChoreCodeID", @onchange = "ChoresChanged(this)" })
                }
                @*else if (ViewBag.Module == "Update")
                {
                    @Html.DropDownListFor(model => model.child.ChoreCodeID, new SelectList(Model.ChoresatHome, "Value", "Text"), new { @class = "form-control chosen-select", style = "width: 100%;", multiple = "multiple", size = 3 })
                }*@
                @Html.ValidationMessageFor(model => model.child.ChoreCodeID)
            </div>
        </div>
        <div class="col-xs-12 colsm-12 col-md-4 col-xl-4">
            <div class="editor-label">
                <div class="col-xs-12 colsm-12 col-md-12 col-xl-9">
                    <span style="color:red;padding:2%;visibility:hidden" id="NumberofSiblings_reqIndicator">*</span>
                    @Html.Label("Number of Siblings")
                </div>
                <div style="float:right" class="col-xs-12 colsm-12 col-md-12 col-xl-3">
                    <span style="padding:2%;visibility:hidden" id="NumberofSiblings_info" title="Number of Siblings is required">[?]</span>
                    @if (ViewBag.Module == "Update" || ViewBag.Module == "QCUpdate")
                    { <span style="padding:2%;float:right" class="glyphicon glyphicon-book" id="NumberofSiblings_prevValue" title="Brothers = @Html.Raw(Model.ChildHistory.Brothers), Sisters = @Html.Raw(Model.ChildHistory.Sisters)"></span> }
                </div>
            </div>
            <div class="col-xs-12 colsm-12 col-md-12 col-xl-12 editor-field enrollform">
                <div class="col-xs-12 colsm-12 col-md-6 col-xl-6">
                    <div class="col-xs-12 colsm-12 col-md-6 col-xl-6" style="padding:0%; text-align:center">
                        @Html.LabelFor(model => model.child.NumberOfBrothers)
                    </div>
                    <div class="col-xs-12 colsm-12 col-md-6 col-xl-6" style="width: 100%; padding:0%">
                        @*<input type="number" class="form-control" min="0" max="99" maxlength="2" tabindex="2" value=@Model.child.NumberOfBrothers />*@
                        @*@Html.TextBoxFor(model => model.child.NumberOfBrothers, new { @class = "form-control", @type = "number", @min = "0", @max = "99", @maxlength = "2", @tabindex = "2" })*@
                        @Html.EditorFor(model => model.child.NumberOfBrothers, new { htmlAttributes = new { @class = "form-control", @min = "0", @max = "99", @maxlength = "2", @tabindex = "2"} })
                        @Html.ValidationMessageFor(model => model.child.NumberOfBrothers)
                    </div>
                </div>
                <div class="col-xs-12 colsm-12 col-md-6 col-xl-6">
                    <div class="col-xs-12 colsm-12 col-md-6 col-xl-6" style="padding:0%; text-align:center">
                        @Html.LabelFor(model => model.child.NumberOfSisters)
                    </div>
                    <div class="col-xs-12 colsm-12 col-md-6 col-xl-6" style="width: 100%; padding:0%">
                        @Html.EditorFor(model => model.child.NumberOfSisters, new { htmlAttributes = new { @class = "form-control", @min = "0", @max = "99", @maxlength = "2", @tabindex = "3"} })
                        @Html.ValidationMessageFor(model => model.child.NumberOfSisters)
                    </div>
                </div>
            </div>
            <div class="editor-label">
                <div class="col-xs-12 colsm-12 col-md-12 col-xl-9">
                    <span style="color:red;padding:2%;visibility:hidden" id="PersonalityTypeCodeID_reqIndicator">*</span>
                    @Html.LabelFor(model => model.child.PersonalityTypeCodeID)
                </div>
                <div style="float:right" class="col-xs-12 colsm-12 col-md-12 col-xl-3">
                    <span style="padding:2%;visibility:hidden" id="PersonalityTypeCodeID_info" title="Personality Type ID is required">[?]</span>
                    @if (ViewBag.Module == "Update" || ViewBag.Module == "QCUpdate")
                    { <span style="padding:2%;float:right" class="glyphicon glyphicon-book" id="PersonalityTypeCodeID_prevValue" title="Personality Type: @foreach (var item in Model.ChildHistory.Personalities) { @Html.Raw("\n" + item.Text) }"></span> }
                </div>
            </div>
            <div class="editor-field enrollform">
                @Html.DropDownListFor(model => model.child.PersonalityTypeCodeID, new SelectList(Model.Personalities, "Value", "Text"), "Personality", new { @class = "form-control", style = "width: 100%;", tabindex = "6" })
                @Html.ValidationMessageFor(model => model.child.PersonalityTypeCodeID)
            </div>
            <div class="editor-label">
                <div class="col-xs-12 colsm-12 col-md-12 col-xl-9">
                    <span style="color:red;padding:2%;visibility:hidden" id="FavoriteActivityCodeID_reqIndicator">*</span>
                    @Html.LabelFor(model => model.child.FavoriteActivityCodeID)
                </div>
                <div style="float:right" class="col-xs-12 colsm-12 col-md-12 col-xl-3">
                    <span style="padding:2%;visibility:hidden" id="FavoriteActivityCodeID_info" title="Favorite Activity ID is required">[?]</span>
                    @if (ViewBag.Module == "Update" || ViewBag.Module == "QCUpdate")
                    { <span style="padding:2%;float:right" class="glyphicon glyphicon-book" id="FavoriteActivityCodeID_prevValue" title="Favorite Activities: @foreach (var item in Model.ChildHistory.FavActivities) { @Html.Raw("\n" + item.Text) } "></span> }
                </div>
            </div>
            <div class="editor-field enrollform">
                @if (ViewBag.Module == "Enrollment" && Model.FavActivities == null)
                {
                    @Html.DropDownListFor(model => model.child.FavoriteActivityCodeID, Enumerable.Empty<SelectListItem>(), new { @class = "form-control chosen-select", style = "width: 100%;", @multiple = "multiple", size = 3, tabindex ="9"})
                }
                else if (ViewBag.Module == "Update" || ViewBag.Module == "QCEnrollment" || ViewBag.Module == "QCUpdate" || (ViewBag.Module == "Enrollment" && Model.FavActivities != null) || ViewBag.Module == "ChildRecord")
                {
                    @Html.DropDownListFor(model => model.child.FavoriteActivityCodeID, new SelectList(Model.FavActivities, "Value", "Text"), new { @class = "form-control chosen-select", style = "width: 100%;", @multiple = "multiple", size = 3, tabindex = "9" })
                }
                @Html.ValidationMessageFor(model => model.child.FavoriteActivityCodeID)
            </div>
        </div>
        <div class="col-xs-12 colsm-12 col-md-4 col-xl-4">
            <div class="editor-label">
                <div class="col-xs-12 colsm-12 col-md-12 col-xl-9">
                    <span style="color:red;padding:2%;visibility:hidden" id="FavoriteLearningCodeID_reqIndicator">*</span>
                    @Html.LabelFor(model => model.child.FavoriteLearningCodeID)
                </div>
                <div style="float:right" class="col-xs-12 colsm-12 col-md-12 col-xl-3">
                    <span style="padding:2%;visibility:hidden" id="FavoriteLearningCodeID_info" title="Favorite Learning ID is required">[?]</span>
                    @if (ViewBag.Module == "Update" || ViewBag.Module == "QCUpdate")
                    {<span style="padding:2%;float:right" class="glyphicon glyphicon-book" id="FavoriteLearningCodeID_prevValue" title="Favorite Learning: @foreach (var item in Model.ChildHistory.FavLearning) { @Html.Raw("\n" + item.Text) }"></span>}
                </div>
            </div>
            <div class="editor-field enrollform">
                @if (ViewBag.Module == "Enrollment" && Model.FavLearning == null)
                {
                    @Html.DropDownListFor(model => model.child.FavoriteLearningCodeID, Enumerable.Empty<SelectListItem>(), "Favorite Learning", new { @class = "form-control", style = "width: 100%;", tabindex = "4" })
                }
                else if (ViewBag.Module == "Update" || (ViewBag.Module == "Enrollment" && Model.FavLearning != null))
                {
                    @Html.DropDownListFor(model => model.child.FavoriteLearningCodeID, new SelectList(Model.FavLearning, "Value", "Text"), "Favorite Learning", new { @class = "form-control", style = "width: 100%;", tabindex = "4" })
                }
                else if (ViewBag.Module == "QCEnrollment" || ViewBag.Module == "QCUpdate" || ViewBag.Module == "ChildRecord")
                {
                    @Html.DropDownListFor(model => model.child.FavoriteLearningCodeID, new SelectList(Model.FavLearning, "Value", "Text"), new { @class = "form-control", style = "width: 100%;", tabindex = "4" })
                }
                @Html.ValidationMessageFor(model => model.child.FavoriteLearningCodeID)
            </div>
            <div class="editor-label">
                <div class="col-xs-12 colsm-12 col-md-12 col-xl-9">
                    <span style="color:red;padding:2%;visibility:hidden" id="LivesWithCodeID_reqIndicator">*</span>
                    @Html.LabelFor(model => model.child.LivesWithCodeID)
                </div>
                <div style="float:right" class="col-xs-12 colsm-12 col-md-12 col-xl-3">
                    <span style="padding:2%;visibility:hidden" id="LivesWithCodeID_info" title="Lives With Code ID is required">[?]</span>
                    @if (ViewBag.Module == "Update" || ViewBag.Module == "QCUpdate")
                    {<span style="padding:2%;float:right" class="glyphicon glyphicon-book" id="LivesWithCodeID_prevValue" title="Lives With: @foreach (var item in Model.ChildHistory.LivesWith) { @Html.Raw("\n" + item.Text) })"></span>}
                </div>
            </div>
            <div class="editor-field enrollform">
                @Html.DropDownListFor(model => model.child.LivesWithCodeID, new SelectList(Model.LivesWith, "Value", "Text"), "Lives With", new { @class = "form-control", style = "width: 100%;", tabindex = "7" })
                @Html.ValidationMessageFor(model => model.child.LivesWithCodeID)
            </div>
            @if (ViewBag.Module == "Update" || ViewBag.Module == "QCUpdate" || ViewBag.Module == "ChildRecord")
            {
                <div class="editor-label">
                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-9">
                        <span style="color:red;padding:2%;visibility:hidden" id="MajorLifeEvent_reqIndicator">*</span>
                        @Html.LabelFor(model => model.child.MajorLifeEvent)
                    </div>
                    <div style="float:right" class="col-xs-12 colsm-12 col-md-12 col-xl-3">
                        <span style="padding:2%;visibility:hidden" id="MajorLifeEvent_info" title="Major Life Event is required">[?]</span>
                        @if (ViewBag.Module == "Update" || ViewBag.Module == "QCUpdate")
                            {
                            <span style="padding:2%;float:right" class="glyphicon glyphicon-book" id="MajorLifeEvent_prevValue" title="Major Life Event: @Html.Raw("\n" + Model.ChildHistory.MajorLifeEvent)"></span>
                            }
                    </div>
                </div>
                <div class="editor-field enrollform">
                    @Html.TextAreaFor(model => model.child.MajorLifeEvent, new { maxlength = 200, @class = "form-control", @rows = 3, style = "width: 100%;", tabindex = "10" })
                    @Html.ValidationMessageFor(model => model.child.MajorLifeEvent)
                </div>
            }
        </div>
        @if (ViewBag.Module == "Enrollment")
        {
            @Html.Hidden("declines.IsDeclinedEnrollmentInfo", Model.Declines.Count(a => a.DeclineReason == "Enrollment Information"));
            //create a different id for the button when working on new updates vs declined pass this id to the controller and  decide on which file type validation to use
            //string SaveButtonID = "enroll_saveprogress";
            //string SubmitButtonID = "enroll_submitenrollment";
            if (Model.Declines != null && Model.Declines.Count > 0)
            {
                if (Model.Declines.Count(a => a.DeclineReason == "Enrollment Information") == 1)
                {
                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-8" style="padding:0.5%; align-content:center">
                        <div class="col-xs-12 colsm-12 col-md-6 col-xl-7">
                            <input type="button" value="Save Enrollment Information" id="enroll_saveDeclinedEnrollmentInfo" style="width:70%; background-color:orange" class="form-control font-weight-bold" tabindex="10" />
                        </div>
                    </div>
                }
                //SaveButtonID = "enroll_saveDeclinedEnrollmentInfo";
                // SubmitButtonID = "enroll_submitDeclinedEnrollmentInfo";
            }
            else
            {

                <div class="col-xs-12 colsm-12 col-md-12 col-xl-12" style="padding:0.5%;">
                    <div class="col-xs-12 colsm-12 col-md-6 col-xl-6">
                        <input type="button" value="Save Progress" id="enroll_saveprogress" style="width:50%; background-color:orange; float:right" class="form-control font-weight-bold" tabindex="11" />
                    </div>
                    <div class="col-xs-12 colsm-12 col-md-6 col-xl-6">
                        <input type="button" value="Submit Enrollment" id="enroll_submitenrollment" style="width:50%; background-color:orange" class="form-control font-weight-bold" tabindex="12" />
                    </div>
                </div>
            }
        }
        else if (ViewBag.Module == "Update")
        {
                    @Html.Hidden("declines.IsDeclinedUpdateInfo", Model.Declines.Count(a => a.DeclineReason == "Update Information"));
                    //create a different id for the button when working on new updates vs declined pass this id to the controller and  decide on which file type validation to use
                    string SaveButtonID = "enroll_saveupdate";
                    string SubmitButtonID = "enroll_submitupdate";
                    if (Model.Declines != null && Model.Declines.Count > 0)
                    {
                        SaveButtonID = "enroll_saveDeclinedUpdate";
                        SubmitButtonID = "enroll_submitDeclinedUpdate";
                    }

            <div class="col-xs-12 colsm-12 col-md-12 col-xl-12" style="padding:0.5%;">
                <div class="col-xs-12 colsm-12 col-md-6 col-xl-6">
                    <input type="button" value="Save Update" id=@SaveButtonID style="width:50%; background-color:orange; float:right" class="form-control font-weight-bold"  tabindex="11"/>
                </div>
                <div class="col-xs-12 colsm-12 col-md-6 col-xl-6">
                    <input type="button" value="Submit Update" id=@SubmitButtonID style="width:50%; background-color:orange" class="form-control font-weight-bold"  tabindex="12"/>
                </div>
            </div>
        }
        else if (ViewBag.Module == "ChildRecord" && Model.currentUser.CanEdit)
        {
            <div class="col-xs-12 colsm-12 col-md-12 col-xl-12" style="padding:0.5%; align-content:center">
                <div class="col-xs-12 colsm-12 col-md-6 col-xl-6">
                    <input type="button" value="Save Progress" id="childrecord_savechildrecord" style="width:70%; background-color:orange; float:right" class="form-control font-weight-bold" />
                </div>
            </div>
        }
    </form>
</div>