﻿@model FTCWebApp.ViewModels.CommonVM
@{
    ViewBag.Title = "Enrollment";
    var modules = new HashSet<string>(new[] { "Update", "QCEnrollment", "QCUpdate" , "Enrollment", "ChildRecord" });
}

    <script>
    var parentMLEID ="";
    $(document).ready(function () {
        var moduleName = $('#module_name').val();
        var childId = "";
        var locationName  ="";
        var locationCode = "";
        var isIncompleteEnrollmentPageLoad ="";

        $('#QCApproveDiv :input').attr('disabled', 'disabled');
        $('#QCDeclineDiv :input').attr('disabled', 'disabled');
        $('#UploadTranslation').attr('disabled', 'disabled');
        $('#SubmitTranslation').removeAttr("disabled");
        $('#CompleteDeclineDiv :input').attr('disabled', 'disabled');

        // copy the contents of 'child-ID' element into the 'child_ChildID' element if the module is update
        if (moduleName === "Update" || moduleName === "Translate" || moduleName === "ChildRecord") {
            var isChildIdNotnull = @((Model != null && Model.child != null).ToString().ToLower());
            var id;
            if (isChildIdNotnull)
                id = '@(Model.child != null ? Model.child.ChildID : "")';
            else
                id = -1;
            $('#child_ChildID').prop('value', id);
            if (moduleName !== "ChildRecord")
                $('#child-ID_DIV').hide();
        }

        // copy the contents of 'child-Number' element into the 'child_ChildNumber' element if the module is update
        if (moduleName === "ChildRecord") {
            var isChildNumberNotnull = @((Model != null && Model.child != null).ToString().ToLower());
            var number;
            if (isChildNumberNotnull)
                number = '@(Model.child != null ? Model.child.ChildNumber : "")';
            else
                number = -1;
            $('#child_ChildNumber').prop('value', number);
        }

        //if module is translate hide enrollment info and show only child info
        if (moduleName === "Translate") {
            $('#EnrollInfo').hide();
            $('#ChildInfo :input').attr('disabled', 'disabled');
            $('#SubmitTranslation').removeAttr("disabled");
            $('#Country_reqIndicator, #LocationName_reqIndicator, #LocationCodeID_reqIndicator').css("visibility", "hidden");
            $('#Country_info, #LocationName_info, #LocationCodeID_info').css("visibility", "hidden");
        }

        if (moduleName === "QCEnrollment" || moduleName === "QCUpdate") {
            $('#Country_reqIndicator, #LocationName_reqIndicator, #LocationCodeID_reqIndicator').css("visibility", "hidden");
            $('#Country_info, #LocationName_info, #LocationCodeID_info').css("visibility", "hidden");
        }

        if ($('#child_CountryId').val() != undefined && $('#child_CountryId').val() != " ") {
            locationName = @Html.Raw(Json.Encode(Model.child.LocationName));
            locationCode = @Html.Raw(Json.Encode(Model.child.LocationCodeID));
            dateOfBirth = @Html.Raw(Json.Encode(Model.child.DateOfBirth));

            if(dateOfBirth != null && dateOfBirth !=" ")
            {
                $('#child_DateOfBirth').prop('type', 'text');
                $('#child_DateOfBirth').val(dateOfBirth);
                isIncompleteEnrollmentPageLoad = true;
            }
            else
            {
                isIncompleteEnrollmentPageLoad = false;
            }

            //Send a ajax request to get location names and location codes using Country ID
            $.ajax({
                url: '@Url.Action("GetLocationsByCountry", "PanMain")',
                data: {
                    id: $("#child_CountryId").val()
                },
                error: function () {
                    if ($('#child_CountryId option:selected').text() == "Select Country") {
                        $('#child_LocationName').empty().append("<option  selected disabled>Select Location</option>");
                        $('#child_LocationCodeID').empty().append("<option  selected disabled>Select Location Code</option>");
                    }
                    else {
                        alert('An error has occurred');
                    }
                },
                dataType: 'json',
                success: function (data) {
                    var items = '<option  value="">Select Location</option>';

                    $.each(data[0], function (i, Location) {
                        items += "<option value='" + Location.Value + "'>" + Location.Text + "</option>";
                    });
                    var items2 = '<option  value="">Select Location Code</option>';
                    $.each(data[1], function (i, LocationCode) {
                        items2 += "<option value='" + LocationCode.Value + "'>" + LocationCode.Text + "</option>";
                    });
                    $('#child_LocationCodeID').html(items2);
                    $('#child_LocationName').html(items);

                    $('#child_LocationName > option').each(function () {
                        id1 =locationCode;
                        id2 = this.value;
                        if (id1 == id2) {
                            $(this).prop('selected', true);
                        }
                    });
                    $('#child_LocationCodeID > option').each(function () {
                        id1 = locationCode;
                        id2 = this.value;
                        if (id1 == id2) {
                            $(this).prop('selected', true);
                        }
                    });
                },
                type: 'GET'
            });
        }

        $('#child_DateOfBirth').click(function () {
            if(isIncompleteEnrollmentPageLoad){
                if  ($('#chkDOB').is(':checked')){
                    $('#child_DateOfBirth').prop('type', 'text');
                }
                else
                {
                    $('#child_DateOfBirth').prop('type', 'date');
                }
            }
        });

        // This function toggles the date of birth field between 'text' and 'date' types.
        $('#chkDOB').change(function () {
            if (this.checked != true) {
                $('#child_DateOfBirth').prop('type', 'date');
            }
            else
            {
                $('#child_DateOfBirth').prop('type', 'text');
                if(isIncompleteEnrollmentPageLoad)
                {
                    $('#child_DateOfBirth').val('');
                }
            }
        });

        $("#StepCodeDropdown").change(function () {
            var moduleName = $('#module_name').val();
            if (moduleName != "Update" && moduleName != "Enrollment") {
                var stepName = $('#StepCodeDropdown option:selected').text();
                if (stepName != null && stepName != "Select Workflow") {
                    $('#QCApproveDiv :input').removeAttr('disabled');
                    $('#QCDeclineDiv :input').removeAttr('disabled');
                } else {
                    $('#QCApproveDiv :input').attr('disabled', 'disabled');
                    $('#QCDeclineDiv :input').attr('disabled', 'disabled');
                }
                $('#WorkflowStep, #WFStepName').html(stepName);
                if (stepName === "Update Information") {
                    $('#MLE').html(" for Major Life Event").css("font-weight", "bold");
                } else {
                    $('#MLE').html("");
                }
                $.ajax({
                    url: '@Url.Action("GetWorkflowStepDetails", "PanMain")',
                    data: {
                        id: $('#StepCodeDropdown option:selected').text()
                    },
                    dataType: 'json',
                    success: function (data) {
                        var items;
                        console.log(data);
                        $('#child_Chores option').each(function () {
                            var self = this;
                            $('#child_ChoreCodeID').html(this.value);
                        });
                        $('#child_FavActs option').each(function () {
                            var self = this;
                            $('#child_FavoriteActivityCodeID').html(this.value);
                        });
                        if (data.TranslationDefault != undefined || data.TranslationDefault != null) {
                            if (data.TranslationDefault == true) {
                                $('#TranslationRequiredDiv').show();
                            }
                            else {
                                $('#TranslationRequiredDiv').hide();
                            }
                        }
                        $.each(data.Declines, function (i, Declines) {
                            items += "<option value='" + Declines.Value + "'>" + Declines.Text + "</option>";
                        });

                        $('#DeclineSubReason').html(items);
                        $('.chosen-select option').prop('selected', false).trigger('chosen:updated');
                    },
                    type: 'Get'
                });
            }
        });
        $(function () {
            $('.qcMleLink').click(function () {
                event.preventDefault();
                var ChildID = $('#child-ID').text();
                var MLE = $(this).data('mle');
                parentMLEID = $(this).data('fileid');
                var win = window.open("", "new window", "width=500, height=300");
                win.document.title = "MLE";
                win.document.write('<html><body><div style =padding:1px; margin:1px;>');
                win.document.write('<h4>Major Life Event </h4>');
                win.document.write(MLE);
                win.document.write('</div></body></html>');
                layer = $(win.document);
            });
        });
        $(function () {
            $("#SubmitTranslation").on('click', function () {
                event.preventDefault();
                // Construct data string
                var formData = new FormData();
                formData.append('ChildID', $("#child-ID").text());
                formData.append('TranslatedMLE', $('#MLE').val());
                formData.append('ParentMLEID', $('#mle').data('fileid'));
                formData.append('workflowID', $('#workflowID').val());
                formData.append('stepCodeID', $('#TranslateDropDown').val());
                formData.append('pendingChildID', $('#pendingChildID').val());
                formData.append('workflowStepsData', $('#workflowSteps').val());
                // Do AJAX
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SubmitTranslations", "PanMain")',
                    data: formData,
                    success: function (data) {
                        console.log(data);
                        if (data.Message != undefined || data.Message != null) {
                            var Msg = data.Message;
                        }
                        $('#validationMsgs').html("Successfuly submited translation.");
                        $('#req_attachdocs').off('click', '.btn');
                        $('#childform').attr('action', $("#URLReturnToTranslation").val()).submit();
                    },
                    error: function (jqXHR, textStatus, errorMessage) {
                        console.log(errorMessage);
                    },
                    processData: false,
                    contentType: false
                });
                //var workflowID = $('#workflowID').val();
                //var isTranslationRequired = 'No';
                //var stepCodeID = $('#TranslateDropDown').val();
                //var pending_childID = $('#pendingChildID').val();
                //var workflowStepsData = $('#workflowSteps').val();
                //var action = "Translate";
                ////status code is complete as the document is approved
                //var statusCodeID = "Completed";
                //saveWorkflow(workflowStepsData, workflowID, stepCodeID, pending_childID, action, statusCodeID, isTranslationRequired);
            });
        });
    });

    //This function saves the Quality Control workflow
    $(function () {
        $('#ApproveQCStep').click(function () {
            event.preventDefault();
            var workflowID = $('#workflowID').val();
            var isTranslationRequired =  $('#translationRequiredDD option:selected').text();
            var stepCodeID = $('#StepCodeDropdown').val();
            var pending_childID = $('#pendingChildID').val();
            var workflowStepsData = $('#workflowSteps').val();
            var action = "Approve";
            //status code is complete as the document is approved
            var statusCodeID = "Completed";
            saveWorkflow(workflowStepsData, workflowID, stepCodeID, pending_childID, action, statusCodeID, isTranslationRequired);
        });

        $('#QCdecline').click(function () {
            event.preventDefault();
            var workflowID = $('#workflowID').val();
            var stepCodeID = $('#StepCodeDropdown').val();
            var pending_childID = $('#pendingChildID').val();
            var action = "Decline";
            var declineSubReason = $('#DeclineSubReason').val();
            var declineNotes = $('#DeclineReasonNotes').val();
            var statusCodeID = "Declined";
            var workflowStepsData = $('#workflowSteps').val();
            declineWorkflow(workflowStepsData, workflowID, stepCodeID, pending_childID, action, statusCodeID, declineSubReason, declineNotes);
        });
    });

    function saveWorkflow(workflowStepsData, workflowID, stepCodeID, pending_childID, action, statusCodeID, isTranslationRequired) {
        var formData = new FormData();
        formData.append('PendingChildID', pending_childID);
        formData.append('StepCodeID', stepCodeID);
        formData.append('workflowID', workflowID);
        formData.append('action', action);
        formData.append('StatusCodeID', statusCodeID);
        formData.append('IsTranslationRequired', isTranslationRequired);
        var allwrkflwSteps = workflowStepsData.split('&');
        var childWorkflowStepID = "";
        var fileID ="";
        allwrkflwSteps.forEach(function(item){
            if(item.indexOf('|' + stepCodeID)!= -1){
                var childWorkflowStepIDAndFileID= item.split('|')[0];
                childWorkflowStepID = childWorkflowStepIDAndFileID.split('_')[0];
                fileID =  childWorkflowStepIDAndFileID.split('_')[1];
            }
        });
        formData.append('childWorkflowStepID', childWorkflowStepID);
        formData.append('fileID', fileID);
        $.ajax({
            url: '@Url.Action("SaveWorkflowStep", "PanMain")',
            data: formData,
            error: function (jqXHR, textStatus, errorMessage) {
                console.log(errorMessage);
            },
            dataType: 'json',
            success: function (data) {
                if (data.Success === true) {
                    $('#Msgs').html(data.Message);
                    location.reload(true);
                    // ToDo redirect to the QC landing page when this is the last workflow steps remaining for the child record
                    //$('#childform').attr('action', $("#URLReturnToQC").val()).submit();
                }
                else {
                    $('#validationMsgs').html(Data.Message);
                }
            },
            processData: false,
            contentType: false,
            type: 'POST'
        });
    }

    function declineWorkflow(workflowStepsData, workflowID, stepCodeID, pending_childID, action, statusCodeID, declineReason, declineNotes) {
        var formData = new FormData();
        formData.append('PendingChildID', pending_childID);
        formData.append('declinedStep', $('#StepCodeDropdown option:selected').text());
        formData.append('workflowID', workflowID);
        formData.append('action', action);
        formData.append('DeclineReason', declineReason);
        formData.append('DeclineNotes', declineNotes);
        formData.append('StatusCodeID', statusCodeID);
        var allwrkflwSteps = workflowStepsData.split('&');
        var childWorkflowStepID = "";

        allwrkflwSteps.forEach(function(item){
            if(item.indexOf('|' + stepCodeID)!= -1){
                var childWorkflowStepIDAndFileID= item.split('|')[0];
                childWorkflowStepID = childWorkflowStepIDAndFileID.split('_')[0];
                fileID =  childWorkflowStepIDAndFileID.split('_')[1];
            }
        });
        formData.append('childWorkflowStepID', childWorkflowStepID);
        $.ajax({
            url: '@Url.Action("DeclineWorkflowStep", "PanMain")',
            data: formData,
            error: function (jqXHR, textStatus, errorMessage) {
                console.log(errorMessage);
            },
            dataType: 'json',
            success: function (data) {
                if (data.Success == true) {
                    $('#Msgs').html(data.Message);
                    location.reload(true);
                    // ToDo redirect to the QC landing page when this is the last workflow steps remaining for the child record
                    //$('#childform').attr('action', $("#URLReturnToQC").val()).submit();
                }
                else {
                    $('#validationMsgs').html(Data.Message);
                }
            },
            processData: false,
            contentType: false,
            type: 'POST'
        });
    }


    function viewDeclinedUpdateInfo(){
        $('#AdditionalInformationTab').trigger('click');
        //alert("here");
        //$('#Update').show();
    }

    function viewDeclinedChildInfo(){
        $('#childTab').trigger('click');
        //$('#Child').show();
    }

    function viewDeclinedEnrollmentInfo(){
        $('#AdditionalInformationTab').trigger('click');
        $('#Enrollment_Information').show();
        //$('#Enrollment').show();
    }

    $(function () {
        $("#childrecord_saveprogress").on('click', function () {
            event.preventDefault();
            var formData = new FormData();
            var childformDataArray = $("#childform").serializeArray();
            var enrollformDataArray = $("#enrollform").serializeArray();

            for (var i = 0; i < childformDataArray.length; i++)
            {
                var formDataItem = childformDataArray[i];
                if (formDataItem.name == "child.ChildID")
                {
                    formDataItem.value = $('#child-ID').text();
                }
                console.log(formDataItem);
                formData.append(formDataItem.name, formDataItem.value);
            }

            for (var i = 0; i < enrollformDataArray.length; i++)
            {
                var formDataItem = enrollformDataArray[i];
                console.log(formDataItem);
                formData.append(formDataItem.name, formDataItem.value);
            }

            var chosenData = $("#child_ChoreCodeID").chosen().val();
            if (chosenData.length == 0)
            {
                formData.append('child.ChoreCodeID', "");
            }

            var favActData = $("#child_FavoriteActivityCodeID").chosen().val();
            if (favActData.length == 0)
            {
                formData.append('child.FavoriteActivityCodeID', "");
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveChildRecord", "PanMain")',
                data: formData,
                success: function (data) {
                    console.log(data);
                    if (data.Message != undefined || data.Message != null) {
                        var Msg = data.Message;
                    }
                    $('#validationMsgs').html("Successfuly Saved Child Record.");
                    $('#req_attachdocs').off('click', '.btn');
                },
                error: function (jqXHR, textStatus, errorMessage) {
                    console.log(errorMessage);
                },
                processData: false,
                contentType: false
            });
        });
        $("#childrecord_savechildrecord").on('click', function () {
            event.preventDefault();
            var formData = new FormData();
            var childformDataArray = $("#childform").serializeArray();
            var enrollformDataArray = $("#enrollform").serializeArray();

            for (var i = 0; i < childformDataArray.length; i++)
            {
                var formDataItem = childformDataArray[i];
                if (formDataItem.name === "child.ChildID")
                {
                    formDataItem.value = $('#child-ID').text();
                }
                console.log(formDataItem);
                formData.append(formDataItem.name, formDataItem.value);
            }

            for (var i = 0; i < enrollformDataArray.length; i++)
            {
                var formDataItem = enrollformDataArray[i];
                console.log(formDataItem);
                formData.append(formDataItem.name, formDataItem.value);
            }

            var chosenData = $("#child_ChoreCodeID").chosen().val();
            if (chosenData.length === 0)
            {
                formData.append('child.ChoreCodeID', "");
            }

            var favActData = $("#child_FavoriteActivityCodeID").chosen().val();
            if (favActData.length === 0)
            {
                formData.append('child.FavoriteActivityCodeID', "");
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveChildRecord", "PanMain")',
                data: formData,
                success: function (data) {
                    console.log(data);
                    if (data.Message != undefined || data.Message != null) {
                        var Msg = data.Message;
                    }
                    $('#validationMsgs').html("Successfuly Saved Child Record.");
                    $('#req_attachdocs').off('click', '.btn');
                    $('#childform').attr('action', $("#URLReturnToChildRecords").val()).submit();
                },
                error: function (jqXHR, textStatus, errorMessage) {
                    console.log(errorMessage);
                },
                processData: false,
                contentType: false
            });
        });
    });
    </script>

<body>
    <!-- Store Client validation rules-->
    <div id="clientRules" style="padding-top:30px;">
        @if (ViewBag.Module == "Enrollment" || ViewBag.Module == "ChildRecord")
        {
            for (int i = 0; i < Model.ClientValidationRules.Count; i++)
            {
                if (Model.ClientValidationRules[i].defaultString == null || Model.ClientValidationRules[i].defaultString == "")
                {
                    <input id="hiddenRange_@Model.ClientValidationRules[i].ColumnName" type="hidden" max="@(Model.ClientValidationRules[i].maxValue)" min="@(Model.ClientValidationRules[i].minValue)" placeholder="@(Model.ClientValidationRules[i].defaultString)" value="@(Model.ClientValidationRules[i].defaultValue)" />
                }
                else
                {
                    <input id="hiddenDefaultString_@Model.ClientValidationRules[i].ColumnName" type="hidden" max="@(Model.ClientValidationRules[i].maxValue)" min="@(Model.ClientValidationRules[i].minValue)" placeholder="@(Model.ClientValidationRules[i].defaultString)" value="@(Model.ClientValidationRules[i].defaultValue)" />
                }
            }
        }
        else if (ViewBag.Module == "Update")
        {
            for (int i = 0; i < Model.Update_ClientValidationRules.Count; i++)
            {
                if (Model.Update_ClientValidationRules[i].defaultString == null || Model.Update_ClientValidationRules[i].defaultString == "")
                {
                    <input id="hiddenRange_@Model.Update_ClientValidationRules[i].ColumnName" type="hidden" max="@(Model.Update_ClientValidationRules[i].maxValue)" min="@(Model.Update_ClientValidationRules[i].minValue)" placeholder="@(Model.Update_ClientValidationRules[i].defaultString)" value="@(Model.Update_ClientValidationRules[i].defaultValue)" />
                }
                else
                {
                    <input id="hiddenDefaultString_@Model.Update_ClientValidationRules[i].ColumnName" type="hidden" max="@(Model.Update_ClientValidationRules[i].maxValue)" min="@(Model.Update_ClientValidationRules[i].minValue)" placeholder="@(Model.Update_ClientValidationRules[i].defaultString)" value="@(Model.Update_ClientValidationRules[i].defaultValue)" />
                }
            }
        }

        @{ for (int i = 0; i < Model.MinSchoolAgeList.Count; i++)
            {
                <input id="hiddenMinSchoolAge_@Model.MinSchoolAgeList[i].Text" type="hidden" value="@(Model.MinSchoolAgeList[i].Value)" />
            }

        }
    </div>
    <!-- Store Required validation rules for displaying required fields-->
    <div id="reqRules">
        @if (ViewBag.Module == "Enrollment")
        {
            for (int i = 0; i < Model.ReqValidationRules.Count; i++)
            {
                <input id="hiddenReq_@Model.ReqValidationRules[i].ColumnName" type="hidden" data-isrequired="@(Model.ReqValidationRules[i].isRequired)" />
            }
        }
        else if (ViewBag.Module == "Update" || ViewBag.Module == "ChildRecord")
        {
            for (int i = 0; i < Model.Update_ReqValidationRules.Count; i++)
            {
                <input id="hiddenReq_@Model.Update_ReqValidationRules[i].ColumnName" type="hidden" data-isrequired="@(Model.Update_ReqValidationRules[i].isRequired)" />
            }
        }
    </div>
    <!-- Store module name-->
    <div id="module">
        <input id="module_name" value="@ViewBag.Module" type="hidden" />
    </div>
    <!-- Store ConfirmNonDups True/False value-->
    <div id="ConfirmNonDups">
        <input id="Confirm_NonDups" value="false" type="hidden" />
    </div>
    <!-- Store Chores and Favorite activities of child in update screen-->
    @if (modules.Contains(ViewBag.Module) && Model.child != null)
    {
        <div id="updatevalueContainer">
            @if (Model.child.Chores != null)
            {
                @Html.DropDownListFor(model => model.child.Chores, new SelectList(Model.child.Chores, "Value", "Text"), "", new { @class = "hidden", style = "width: 100%; font-weight:bold;" })
            }
            @if (Model.child.FavActs != null)
            {
                @Html.DropDownListFor(model => model.child.FavActs, new SelectList(Model.child.FavActs, "Value", "Text"), "", new { @class = "hidden", style = "width: 100%;" })
            }
        </div>
    }
    <!-- Enrollment page -->
<div id="content" style="position:relative">
    <div id="divLoader" style="display:none;"> <img src="~/Content/giphy.gif" alt="Loader" /> </div>
    <ul id="enrollment_tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active" style="max-width:50%"><a href="#ChildInfo" data-toggle="tab" id="childTab">Child Information</a></li>
        <li style="max-width:50%">
            @if (ViewBag.Module == "Enrollment" || ViewBag.Module == "QCEnrollment" || ViewBag.Module == "ChildRecord")
            {
                <a href="#EnrollInfo" data-toggle="tab" id="AdditionalInformationTab">Enrollment Information</a>
            }
            @if (ViewBag.Module == "Update" || ViewBag.Module == "QCUpdate")
            {
                <a href="#EnrollInfo" data-toggle="tab" id="AdditionalInformationTab">Update Information</a>
            }
        </li>
    </ul>
    <div class="col-xs-12 colsm-12 col-md-12 col-xl-12">
        <div class="tab-content">
            <div id="ChildInfo" class="tab-pane fade in active">
                @Html.Partial("_ChildForm")
            </div>
            <div id="EnrollInfo" class="tab-pane fade">
                @Html.Partial("_EnrollmentForm")
            </div>
        </div>
    </div>
    @if (ViewBag.Module == "Enrollment" || ViewBag.Module == "Update" || ViewBag.Module == "ChildRecord")
    {
        if (Model.Declines != null && Model.Declines.Count > 0)
        {
            var childDeclinedStepData = "";
            var firstrecord = Model.Declines.FirstOrDefault();
            foreach (var item in Model.Declines)
            {
                childDeclinedStepData += item.ChildWorkflowStepID + "_" + item.FileID + "|" + item.ID + "&";

            }
            <input id="pendingChildID" value="@firstrecord.PendingChildID" type="hidden" />
            <input id="workflowID" value="@firstrecord.Workflow" type="hidden" />
            @*<input id="stepCodeID" value="@Model.child.Child_StepCodeID" type="hidden" />
                <input id="workflowSteps" value="@childDeclinedStepData" type="hidden" />*@
            @*<div class="col-xs-12 colsm-12 col-md-12 col-xl-12" style="padding:5%;">
                    <div class="col-xs-12 colsm-12 col-md-3 col-xl-3">
                        @Html.DropDownListFor(model => model.child.Child_StepCodeID, new SelectList(Model.Child_declinedSteps_ddl, "Value", "Text"), "Select Declined Step", new { @class = "form-control", style = "width: 100%;", @id = "StepCodeDropdown" })
                    </div>
                    <div class="col-xs-12 colsm-12 col-md-3 col-xl-3" id="QCApproveDiv">
                        <input type="button" value="Complete Decline" id="CompleteDeclinedStep" style="width:80%; background-color:orange; float:right" class="form-control font-weight-bold" />
                    </div>
                </div>*@

            @*var childWorkflowStepIDData = "";
                foreach (var item in Model.Child_workflowsteps)
                {
                    childWorkflowStepIDData += item.Child_Workflow_Step_ID + "_" + item.File_ID + "|" + item.Step_Code_ID + "&";

                }
                <input id="pendingChildID" value="@Model.child.Pending_ChildID" type="hidden" />
                <input id="workflowID" value="@Model.child.Child_WorkflowID" type="hidden" />
                <input id="stepCodeID" value="@Model.child.Child_StepCodeID" type="hidden" />
                <input id="workflowSteps" value="@childWorkflowStepIDData" type="hidden" />*@
        }
        <div class="col-xs-12 colsm-12 col-md-12 col-xl-12">@Html.Partial("_Attachdocs")</div>
    }
    else if (ViewBag.Module == "QCEnrollment" || ViewBag.Module == "QCUpdate")
    {
        <div class="col-xs-12 colsm-12 col-md-12 col-xl-12" style="padding:5%;">
            <div class="col-xs-12 colsm-12 col-md-3 col-xl-3">
                @Html.DropDownListFor(model => model.child.Child_StepCodeID, new SelectList(Model.Child_workflowteps_ddl, "Value", "Text"), "Select Workflow Step", new { @class = "form-control", style = "width: 100%;", @id = "StepCodeDropdown" })
            </div>
            <div class="col-xs-12 colsm-12 col-md-3 col-xl-3" id="QCApproveDiv">
                @Html.HiddenFor(model => model.IsTranslationRequiredByDefault, new { id = "translationNeeded" })
                <input type="button" value="Approve" id="QCapprove" data-key="Approve" style="width:100%; background-color:orange;" class="form-control font-weight-bold" data-toggle="modal" data-target="#childApproveModal" />
            </div>
            <div class="col-xs-12 colsm-12 col-md-3 col-xl-3" id="QCDeclineDiv">
                <input type="button" value="Decline" style="width:100%; background-color:orange" class="form-control font-weight-bold" data-toggle="modal" data-target="#childDeclineModal" />
            </div>
        </div>

        var childWorkflowStepIDData = "";
        foreach (var item in Model.Child_workflowsteps)
        {
            childWorkflowStepIDData += item.Child_Workflow_Step_ID + "_" + item.File_ID + "|" + item.Step_Code_ID + "&";

        }
        <input id="pendingChildID" value="@Model.child.Pending_ChildID" type="hidden" />
        <input id="workflowID" value="@Model.child.Child_WorkflowID" type="hidden" />
        <input id="stepCodeID" value="@Model.child.Child_StepCodeID" type="hidden" />
        <input id="workflowSteps" value="@childWorkflowStepIDData" type="hidden" />
    }
    else if (ViewBag.Module == "Translate")
    {
        var childTranslateStepIDData = "";
        foreach (var item in Model.Child_translationSteps)
        {
            childTranslateStepIDData += item.WorkflowStepID + "_" + item.FileID + "|" + item.StepCodeID + "&";
        }
        <input id="pendingChildID" value="@Model.child.Pending_ChildID" type="hidden" />
        <input id="workflowID" value="@Model.child.Child_WorkflowID" type="hidden" />
        <input id="stepCodeID" value="@Model.child.Child_StepCodeID" type="hidden" />
        <input id="workflowSteps" value="@childTranslateStepIDData" type="hidden" />
        <div class="col-xs-12 colsm-12 col-md-12 col-xl-12">@Html.Partial("_Attachdocs")</div>
    }

    <!-- Possible Duplicate Records Modal -->
    <div class="modal fade" id="duplicateRecordsModal" role="dialog">
        <div class="modal-dialog  modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Possible Duplicate Records</h4>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row" style="margin-left:20px;">
                        <table id="duplicateChilds" class="table-responsive table-bordered table-striped" style="width:auto;margin:10px;">
                            <thead>
                                <tr>
                                    <td>Child ID</td>
                                    <td>Name</td>
                                </tr>
                            </thead>
                            <tbody id="duplicateChilds_body"></tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button id="removeduplicateChild_yes" data-path="" style="width:25%; background-color:orange" class="form-control font-weight-bold">Yes</button>
                        <button id="removeduplicateChild_no" data-path="" style="width:25%; background-color:orange" class="form-control font-weight-bold">No</button>
                        <button value="clear" data-dismiss="modal" id="removeduplicateChild_continue" style="width:25%; background-color:orange" class="form-control font-weight-bold">continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- QC Decline Child Modal -->
    <div class="modal fade" id="childDeclineModal" role="dialog">
        <div class="modal-dialog" style="top:375px;">
            <!-- Modal content-->
            <div class="modal-content" style="width:1000px; ">
                <div class="modal-header">
                    <h4 class="modal-title">Decline <span id="WorkflowStep"></span></h4>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-12 editor-label" style="padding:1%;">
                        <div class="row" style="padding:1%;">
                            <div class="col-xs-12 colsm-12 col-md-3 col-xl-3"><span>@Html.LabelFor(model => model.child.ChildNumber)</span></div>
                            <div class="col-xs-12 colsm-12 col-md-9 col-xl-9"><span id="child-Number">@Html.DisplayFor(model => model.child.ChildNumber)</span></div>
                        </div>
                        <div class="row" style="padding:1%;">
                            <div class="col-xs-12 colsm-12 col-md-3 col-xl-3"><span>@Html.LabelFor(model => model.child.QCRejectReason)</span></div>
                            <div class="col-xs-12 colsm-12 col-md-9 col-xl-9">
                                @Html.DropDownListFor(model => model.child.QCDeclineSubReason, Enumerable.Empty<SelectListItem>(), "", new { @class = "form-control chosen-select", style = "width: 750px;", @id = "DeclineSubReason" })
                            </div>
                        </div>
                        <div class="row" style="padding:1%;">
                            <div class="col-xs-12 colsm-12 col-md-3 col-xl-3"><span>@Html.LabelFor(model => model.child.QCRejectNotes)</span></div>
                            <div class="col-xs-12 colsm-12 col-md-9 col-xl-9">
                                @Html.TextAreaFor(model => model.child.QCRejectReason, new { style = "min-width:690px; height:200px;", @id = "DeclineReasonNotes" })
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-xs-12 colsm-12 col-md-12 col-xl-12">
                                <span>Are you sure to decline <span id="WFStepName"></span> ?</span>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom:10px; width:500px; padding-left:250px;">
                            <div class="col-xs-6 colsm-6 col-md-6 col-xl-6" style="padding-right:0px; margin-right:0px; border: 1px, solid red;">
                                <button class="btn btn-default" data-dismiss="modal" id="QCdecline" style="width:50%;background-color:orange;">Yes</button>
                            </div>
                            <div class="col-xs-6 colsm-6 col-md-6 col-xl-6" style="padding-left:0px; margin-left:0px;">
                                <button class="btn btn-default" data-dismiss="modal" id="child_noDecline" style="width:50%;background-color:orange;">No</button>
                            </div>
                        </div>

                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- QC Approve Child Modal -->
    <div class="modal fade" id="childApproveModal" role="dialog">
        <div class="modal-dialog" style="top:375px;">
            <!-- Modal content-->
            <div class="modal-content" style="width:1000px; ">
                <div class="modal-header">
                    <h4 class="modal-title">Approve <span id="WorkflowStep"></span></h4>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-12 editor-label" style="padding:1%;">
                        <div class="row" style="padding:1%;">
                            <div class="col-xs-12 colsm-12 col-md-3 col-xl-3"><span>@Html.LabelFor(model => model.child.ChildNumber)</span></div>
                            <div class="col-xs-12 colsm-12 col-md-9 col-xl-9"><span id="child-Number">@Html.DisplayFor(model => model.child.ChildNumber)</span></div>
                        </div>
                        <div class="row" style="margin-bottom:10px;" id="TranslationRequiredDiv">
                            <div class="col-xs-12 colsm-12 col-md-12 col-xl-12">
                                <div class="col-xs-12 colsm-12 col-md-3 col-xl-3"><span>@Html.LabelFor(model => model.IsTranslationRequired)</span><span id="MLE"></span></div>
                                @Html.DropDownListFor(model => model.IsTranslationRequired, new SelectList(Model.IsTranslationRequiredDD, "Value", "Text"), "Select", new { @class = "form-control", id = "translationRequiredDD", style = "width: 30%;" })
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:10px; font-weight:bold; padding:1%">
                            <div class="col-xs-12 colsm-12 col-md-12 col-xl-12">
                                <span>Are you sure to approve <span id="WFStepName"></span> ?</span>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:10px; width:500px; padding-left:250px;">
                            <div class="col-xs-6 colsm-6 col-md-6 col-xl-6" style="padding-right:0px; margin-right:0px; border: 1px, solid red;">
                                <button class="btn btn-default" data-dismiss="modal" id="ApproveQCStep" style="width:80%;background-color:orange;">Yes</button>
                            </div>
                            <div class="col-xs-6 colsm-6 col-md-6 col-xl-6" style="padding-left:0px; margin-left:0px;">
                                <button class="btn btn-default" data-dismiss="modal" id="child_noApprove" style="width:80%;background-color:orange;">No</button>
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<!--Trabslation Upload Modal-->
    <!-- Modal -->
    <div class="modal fade" id="uploadTranslation" role="dialog">
        <div class="modal-dialog  modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Upload File</h4>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 colsm-12 col-md-4 col-xl-4">
                            <div class="row" style="padding-right:30%; padding-bottom:10%; margin-left:10%">
                                <span>Choose File Type</span>
                                <div class="editor-field">
                                    @if (ViewBag.Module == "Enrollment")
                                    {
                                        @Html.DropDownListFor(model => model.uploadDocument.ContentType.Content_Type_Code_ID, new SelectList(Model.RequiredContentTypes, "Value", "Text"), new { @class = "form-control", style = "width: 100%;", @id = "req_fileSelect" })
                                    }
                                    @if (ViewBag.Module == "Update")
                                    {
                                        @Html.DropDownListFor(model => model.uploadDocument.ContentType.Content_Type_Code_ID, new SelectList(Model.RequiredContentTypesUpdate, "Value", "Text"), new { @class = "form-control", style = "width: 100%;", @id = "req_fileSelect" })
                                    }
                                    @if (ViewBag.Module == "Translate")
                                    {
                                        @Html.DropDownListFor(model => model.child.Child_StepCodeID, new SelectList(Model.Child_workflowteps_ddl, "Value", "Text"), "Select", new { @class = "form-control", style = "width: 100%;", @id = "req_fileSelect" })
                                    }
                                </div>
                            </div>
                            <div class="row" style="padding-right:30%; padding-bottom:10%; margin-left:10%; display:block ">
                                <canvas id="crop_preview" width=150 height=200 overflow=hidden></canvas>
                            </div>
                            <div class="row" style="padding-right:5%; margin-left:10%;">
                                <span id="image_valMsg" style="color:red;width:100%"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 colsm-12 col-md-8 col-xl-8">
                            <div class="col-xs-12 colsm-12 col-md-12 col-xl-12 avatar-view">
                                <img id="req_org_image" />
                            </div>
                            <div class="col-xs-12 colsm-12 col-md-12 col-xl-12 fileUpload" style="margin-bottom:10px; ">
                                <label class="btn btn-info" style="width:100%">
                                    <span>Choose File</span>
                                    <input type="file" class="upload" id="req_uploadfiles" />
                                </label>
                            </div>
                            <div class="col-xs-12 colsm-12 col-md-12 col-xl-12">
                                <button class="btn btn-default" data-dismiss="modal" id="req_ok" style="width:100%">OK</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" value="clear" data-dismiss="modal" id="closebtn">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</body>